{% extends "includes/wrapper.html" %}
{% load staticoptimizer %}
{% load mathfilters %}

{% block css %}
	{% css "css/lb.musicians.css" %}	
{% endblock %}

{% block js %}
	{% js "js/lb.musician.package.js" %}
{% endblock %} 

{% block mainclass %}can-edit banner{% endblock %}
{% block bodyattr %} data-inline-edit-path="/musico/atualizar/" data-id="{{ user.id }}" {% endblock %}

{% block content %}
	<section id="content" class="wrapper clearfix">
		<div id="cover-photo"
			{% if musician.media.cover %} class="with-photo" {% endif %} >
			
			{% if musician.pk != user.pk %}
				<a href="#" class="message-me send-msg" data-toid="{{ musician.id }}"><span class="highlight">+</span>Mande uma mensagem para mim</a> 
				<ul id="invite-bands-list"></ul>
			{% endif %}
			
			{% if musician.media.cover %}
				<img src="{{musician.media.cover}}" alt="{{ musician.name }}"/>
			{% endif %}
			
			{% if musician.pk = user.pk %}
				<a href="/lightbox/foto-capa-musico?width=665&amp;height=200" class="lightbox change-cover-photo">
					<span class="highlight">+</span> 

					{% if musician.media.cover %}
						Alterar foto da capa
					{% else %}
						Adicionar foto da capa
					{% endif %}
				</a>
			{% endif %}

			<div id="user-header" class="clearfix">
				<div id="profile-photo" class="fl">
					{% if musician.media.avatar %}
						<img src="{{musician.media.avatar}}" alt="{{ musician.name }}"/>
					{% endif %}
					
					{% if user.pk = musician.pk %}
						<a href="/lightbox/foto-perfil-musico?width=665&amp;height=200" class="lightbox">Alterar foto</a>
					{% endif %}
				</div>
				
					{% if user.pk = musician.pk %}
						<h1 class="fl editable" data-field="user.first_name">
							{{ musician.user.get_full_name }}
						</h1>
					{% else %}
						<h1 class="fl">
							{{ musician.user.get_full_name }}
							<span class="complement">
								{% if musician.born_year %}
									,  {{ current_year|sub:musician.born_year }}  anos
								{% endif %}
								
								{% if musician.address.state %}
									{% if musician.address.city %}
									, {{ musician.address.city }}
									{% endif %}
									, {{ musician.address.state }}
								{% endif %}
							</span>
						</h1>
					{% endif %}
			</div>
		</div>
			
		<div id="container" class="fl">
			
			<nav>
			  	<ul class="menu markable">
			  		{% if user.pk = musician.pk %}
			        	<li><a href="/" class="no-refresh">Geral</a></li>
			        {% else %}
			        	<li><a href="{{ musician.profile_url }}" class="no-refresh">Geral</a></li>
			        {% endif %}
			        <li><a href="{{ musician.photos_url }}" class="no-refresh">Fotos</a></li>
			        <li><a href="{{ musician.videos_url }}" class="no-refresh">Videos</a></li>
					<li class="no_border"><a href="{{ musician.bands_url }}" class="no-refresh">Bandas</a></li> 
				</ul>
			</nav>
			
			<div id="no-refresh-content">
				{% block musiciancontent %}{% endblock %}
			</div>
		</div>
		<div class="fl advertising">
			<h2 class="subtitle">Ofertas</h2>
		</div>
	</section>
{% endblock %}

{% block aside %}{% endblock %}
