#edit-band-form p label{
	display:block;
}

#edit-band-form p{
	margin-top:15px;
}

#edit-band-form ul{
	list-style:none none;
	margin:0;
	padding:0;
}

#edit-band-form ul li{
	display:inline-block;
	margin-right:20px;
}

section.block-information{
	border:1px solid #ccc;
	padding:10px 20px;
	margin-top:30px;
	border-radius:10px;
}

#wrapper-search{
	padding:10px;
}

#instruments{
	display:none;
	border-radius:5px;
	background:#fff;
	padding:4px 10px;
	position:fixed;
	top:388px;
	left:50%;
	border:3px solid #EFE26F;
	z-index:5;
}

#instruments label{display:block;}