#edit-band-form p label{
	display:block;
}

#edit-band-form p{
	margin-top:15px;
}

#edit-band-form ul{
	list-style:none none;
	margin:0;
	padding:0;
}

#edit-band-form ul li{
	display:inline-block;
	margin-right:20px;
}

section.block-information{
	border:1px solid #ccc;
	padding:10px 20px;
	margin-top:30px;
	border-radius:10px;
}