body{
	font:12px Arial;
	text-align:center;
	background:#aeaeae;
	margin:0;
	padding:0;
}

#wrapper{
	text-align:left;
	background:#fff;
	width:900px;
	margin:auto;
	padding:15px;
	position:relative;
}

#header{
	height:60px;
}

#user-menu{
	position:absolute;
	right:0;
	top:0;
	padding:5	px 15px;
	background:#eee;
}