.profile-block{
	float:left;
	border-radius:10px;
	background:#F4F3A4;
	width:300px;
	margin:0 15px 15px 0;
	padding:30px;
	-webkit-transition: all .4s linear;
	   -moz-transition: all .4s linear;
	     -o-transition: all .4s linear;
			transition: all .4s linear; 
}

.profile-block:hover{
	background-color:#EFE26F;
}
