{% load staticoptimizer %}
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	{% block head %}<title>Lasbandas - Conectando músicos</title>{% endblock %}
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link href='http://fonts.googleapis.com/css?family=Dosis:200,400,500,600,700' rel='stylesheet' type='text/css'>

	{% css "css/lb.common.css" %}
	
	{% block css %}{% endblock %}
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36114855-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<script src="/s/js/libs/modernizr-1.7.min.js"></script>
</head>
<body {% block bodyattr %}{% endblock %}>

<div id="header-container">
	<header class="wrapper
		{% if user.is_authenticated %} logged{% endif %}
		">
		<h1 id="header-logo" class="fl">
			<a href="/" id="logo" class="ir">LasBandas - conectando músicos</a>
		</h1>
		<div id="main-search" class="fl">
			<form id="main-search-form" method="GET" action="#">
				<input type="text" name="kw" id="main-search-field" placeholder="Busque por CEP, músicos, bandas ou instrumentos" class="fl" />
				<input type="submit" id="main-search-submit" value="Buscar" class="fl btn"/>
			</form>
		</div>
		
		<nav id="user-menu" class="fr">
			<ul>
			{% if user.is_authenticated %}
				<li class="avatar-small">
					{% if user.get_profile.media.avatar_small %}
			    		<img src="{{ user.get_profile.media.avatar_small }}" alt="{{ user.get_full_name }}" width="40" />
			    	{% endif %}
			    </li>
			    <li class="user-name">
			    	<strong><a href="{{ user.get_profile.profile_url }}" title="{{ user.get_full_name }}">{{ user.get_full_name|truncatechars:20 }}</a></strong>
			    </li>
			    <li class="notifications">
			    	<a href="#notificacoes" class="icon prevent-hide notification ir" title="Nenhuma nova notificação">notificações</a>
			    	<div id="slider-notification" class="prevent-hide">
			    		<div class="list-header">
							<a class="invitations" href="#solicitacoes">Solicitações de convites</a>
							<a class="nav-messages" href="#mensagens">Mensagens</a>
						</div>

						<div class="slider">
							<ul class="solicitations list">
								<li>
									<div><img src="http://lasbandas.s3.amazonaws.com/u/4/avatar-small.png" /></div>
									<div class="name">Renato Menegasso SP</div>
									<div class="waiting">
										<span>Fulano disse que voce toca guitarra na banda X. É verdade?</span>
										<a href="#" class="btn">Sim</a>
										<a href="#" class="btn red">Não</a>
										<a href="/lightbox/send-message?width=465&amp;height=125" class="lightbox btn send-msg">Enviar mensagem</a>
									</div>
								</li>
								
								<li>
									<div><img src="http://lasbandas.s3.amazonaws.com/u/4/avatar-small.png" /></div>
									<div class="name">Renato Menegasso SP</div>
									<div><a href="#" class="btn">Aceitar</a></div>
									<div><a href="#" class="btn red">Não agora</a></div>
									<div><a href="/lightbox/send-message?width=465&amp;height=125" class="lightbox btn send-msg">Enviar mensagem</a></div>
								</li>
							</ul>
								
							<ul class="messages list">
								<li>
									<div><img src="http://lasbandas.s3.amazonaws.com/u/4/avatar-small.png"></div>
									<div class="name">Renato Menegasso SP</div>
									<div class="waiting">
										<a href="#read-message">Eai man, quando vamos marcar aquela Jam ? Abs</a>
									</li>
								</li>
							</ul>
							
							<a href="/" class="view-all">Ver todas</a>
						</div>
						
			   	</li>
			    <li class="lock">
			    	<a href="#dados-pessoais" class="icon lock ir" title="Dados pessoais">dados pessoais</a>
			    </li>
			    <li><a href="/logout">sair</a></li>
			{% else %}
				<li><a href="/lightbox-login?width=780&amp;height=350" class="lightbox">Login</a></li>
				<li><a href="/lightbox-login?width=780&amp;height=350" class="lightbox">Cadastre-se</a></li>
			{% endif %}
			</ul>
		</nav>
	</header>
</div>

<div id="main" class="{% block mainclass %}{% endblock %} banner">
	<section id="content" class="wrapper clearfix">
		{% block content %}
			conteudo
		{% endblock %}
	</section>
</div>
<div id="search-musicians">
	<section class="wrapper">
		<!--<ul class="filters">
			<li class="musicians">Encontre músicos</li>
			<li class="bands">Encontre uma banda</li>
			<li class="studios">Encontre estúdios</li>
		</ul>-->
	</section>
</div>
<div id="footer-container">
	<footer class="wrapper">
		<h3>A nice footer</h3>
	</footer>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
<!--[if lt IE 7 ]>
<script src="/static/js/libs/dd_belatedpng.js"></script>
<script> DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->

{% js "js/lb.common.js" %}"

{% block js %}{% endblock %}

</body>
</html>