<!doctype HTML>
<html>
	<head>
		{% block head %}<title>Labandas - Forme sua banda</title>{% endblock %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/static/js/lb.form.ajax.js" defer="true" assync="true"></script>
		<script src="/static/js/lb.common.js" defer="true" assync="true"></script>
	</head>
<body>

<div id="wrapper">
	<div id="header">
		<div id="user-menu">
			{% if user.is_authenticated %}
			    <span>Olá <strong>{{ user.first_name }}</strong></span> |
			    <a href="/logout">sair</a>
			{% else %}
				<form id="lb-form-login" action="/login" class="ajax">
					<input type="text" placeholder="email" name="user" />
					<input type="password" placeholder="senha" name="password" />
					<input type="submit" value="entrar" />
				</form>
			{% endif %}
		</div>
	</div>
	
	<div id="content">
		{% block content %}
			conteudo
		{% endblock %}
	</div>
	
</div>

</body>

</html>