<div id="add-musician-lightbox">
	<div class="lightbox-title">
		<p class="fl">Adicione os outros integrantes da sua banda!</p>
	</div>

	<div class= "container">
		<div class="line">
			<input type="text" id="musician-kw" placeholder="Digite aqui o nome do músico" />
			<input type="button" class="btn" value="Buscar músico" />
		</div>
		<ul class="results">
			<li id="row-template"><img src="http://lasbandas.s3.amazonaws.com/u/4/avatar.png"/></li>
			<li class="name">Anderson Santana São Paulo</li>
			<li class="button"><a href="#add-to-band" data-id="#id#" class="btn add">Adicionar a banda</a></li>
		</ul>
		
		<h3 class="other-option">O cara ainda não está no lasbandas ? Procure no Facebook</h3>
		<div class="line">
			<input type="text" id="musician-kw" placeholder="Digite aqui o nome do músico" />
			<input type="button" class="btn fb" value="Buscar no Facebook" />
		</div>
	</div>
</div>