<div id="add-musician-lightbox">
	<div class="lightbox-title">
		<p class="fl">Adicione os outros integrantes da sua banda!</p>
	</div>

	<div class="container search-musician">
		<div class="line">
			<input type="search" id="musician-kw" placeholder="Digite aqui o nome do músico" />
			<input type="button" class="btn" value="Buscar músico" id="find-musicians-to-band" />
		</div>
		<ul class="results" id="founded-musicians"></ul>

		<!-- <h3 class="other-option">O cara ainda não está no lasbandas ? Procure no Facebook</h3>
		<div class="line">
			<input type="text" id="musician-fb-kw" placeholder="Digite aqui o nome do músico" />
			<input type="button" class="btn fb" id="search-on-fb" value="Buscar no Facebook" />
		</div> -->
		<!-- <ul class="results" id="founded-fb-musicians"></ul> -->
	</div>

	<div class="what-play hide">
		<h2 class="other-option">O que <strong id="target-musician-name"></strong> toca na banda?</h2>
		<div class="instruments"></div>
		<input type="button" class="btn fl" value="Continuar" id="send-solicitation" />
		<input type="button" class="btn fr" value="Voltar" id="back-to-search" />
	</div>
</div>