<div id="lb-lightbox-avatar">
	<div class="lightbox-title">
		<p class="fl">Selecione um avatar para seu perfil</p>
	</div>
	
	<form enctype="multipart/form-data" action="/musico/atualizar-imagem-perfil" method="post" class="upload-wrapper">
		{% csrf_token %}
		<span class="upload">
			<input type="file" name="img" />
			<span class="action">Escolher a partir de fotos</span>
		</span>
		<span class="or">OU</span>
		<span class="upload">
			<input type="file" name="img" />
			<span class="action">Enviar uma imagem</span>
		</span>
		<input type="submit" class="send btn" value="Enviar"/>
	</form>
</div>