<div id="lb-lightbox-soundcloud">
	<div class="lightbox-title">
		<p>Soundcloud</p>
	</div>

	<div class="lightbox-text">
		<p>Insira o link do seu perfil no <a href="https://soundcloud.com/" target="_blank">sound cloud.</a></p>
		<input type="text" id="sound-cloud-url" placeholder="Cole aqui o link do seu perfil" />
		<input type="hidden" class="post-on-edit" name="media.sound_cloud" id="sound-cloud-url-value" />
		<p>Preview</p>
		<div class="preview">
			<div id="preview-message-default">Cole a url do seu perfil acima</div>
			<div id="sound-cloud-player-preview"></div>
		</div>
		<p class="clearfix lightbox-buttons">
			<a href="#inserir" class="lightbox-close fr" id="confirm-soundcloud-music">Inserir</a>
			<a href="#fechar" class="lightbox-close fl">Cancelar</a>
		</p>
	</div>
</div>