{% extends "includes/wrapper.html" %}

{% block css %}
	<link rel="stylesheet" href="/s/css/src/home.css">
{% endblock %}

{% block js %}
	<script src="/s/js/ui/home.js"></script>
{% endblock %}

{% block content %}
	<article>
		<strong>Você é musico?</strong>
		<span class="color-higlight">Procura ou quer formar uma banda </span>
		<p>então conheça o melhor site de bandas e músicos do brasil!</p>
	</article>
	<article>
		<h3>Cadastre-se</h3>
		
		<form action="/musico/cadastrar" method="post" id="subscribe-form" class="ajax">{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Cadastrar" />
		</form>
	</article>
{% endblock %}


{% block aside %}
{% endblock %}