{% extends "includes/wrapper.html" %}
{% load staticoptimizer %}

{% block css %}
	{% css "css/src/home-logged.css" %}
{% endblock %}

{% block js %}
	{% js "js/src/ui/home-logged.js" %}
{% endblock %}

{% block mainclass %}can-edit{% endblock %}

{% block content %}
	<div id="cover-photo"
		{% if musician.media.cover %} class="with_photo" {% endif %} >

		{% if musician.media.cover %}
			<img src="{{musician.media.cover}}" alt="{{ musician.name }}"/>
		{% endif %}
		<a href="/lightbox/foto-capa" class="lightbox change-cover-photo">
			<span class="highlight">+</span> 

			{% if musician.media.cover %}
				Alterar foto da capa
			{% else %}
				Adicionar foto da capa
			{% endif %}
		</a>

		<div id="user-header" class="clearfix">
			<div id="profile-photo" class="fl">
				{% if musician.media.avatar %}
				<img src="{{musician.media.avatar}}" alt="{{ musician.name }}"/>
				{% endif %}
				<a href="/lightbox/foto-perfil" class="lightbox">Alterar foto</a>
			</div>
			<h1 class="fl editable" data-field="user.first_name">
				{{ user.get_full_name }}
			</h1>
		</div>
	</div>
	
	{% if musician.type_instruments_play.all.count = 0 or not musician.address.city %}
	<div id="container" class="fl">
		<div id="complete-subscription" class="clearfix">
			<h3 class="attention">*É PRECISO COMPLETAR SEU CADASTRO</h3>
			<div class="musician-info fl">
				<form action="/musico/atualizar/type_instruments_play" method="post" class="ajax inline-form">
				{% for instrument in equipament_types %}
					<label class="{{ instrument.normalized_name }}">

						<input type="checkbox" value="{{ instrument.id }}" name="type_instruments_play" 
							{% if instrument in musician.type_instruments_play.all|dictsort:"id" %}
								checked="checked"
							{% endif %}
						/> 
						{{ instrument.name }}
					</label>
				{% endfor %}
				</form>
			</div>

			<div class="personal-info fl">
				<div>
					<label>Nome completo:</label>
					<span data-field="user.first_name" class="editable">{{ user.get_full_name }}</span>
				</div>

				<div>
					<label>Estilo de música:</label>
					<form action="/musico/atualizar/musical_styles" method="post" class="ajax inline-form">
					{% for style in musical_styles %}
						<label>

							<input type="checkbox" value="{{ style.id }}" name="musical_styles" 
								{% if style in musician.musical_styles.all|dictsort:"id" %}
									checked="checked"
								{% endif %}
							/> 
							{{ style.name }}
						</label>
					{% endfor %}
					</form>
				</div>

				<div>
					<label>Digite seu cep:</label>
					<span data-field="address.cep" class="editable">
						{% if musician.address.cep %}
							{{ musician.address.cep }}
						{% else %}
							&nbsp;
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	{% endif %}

			
		 <div class="about fl">
			<textarea type="text" class="post-on-edit" name="about">{% if musician.about %}{{musician.about}}{% else %}Fale sobre você{% endif %}</textarea>
		</div>

		<div id="all-media" class="fl">
			
			<a href="#" class="pictures fl">
				<span class="title">Fotos <span class="count">(68)</span></span>
			</a>
			<a href="#" class="movies fl">
				<span class="title">Vídeos <span class="count">(68)</span></span>
			</a>
			<a href="#" class="bands fl">
				<span class="title">Bandas</span>
			</a>
		</div>

		<div class="fl status">
			<h2 class="marker small">Status</h2>
			<div class="self-assessment">
				<ul>
					<li>Feeling</li>
					<li>Experiência</li>
					<li>Versatilidade</li>
					<li>Originalidade</li>
					<li>Comprometimento</li>
				</ul>
			</div>
		</div>
		<div class="fl mysound">
			<h2 class="marker small">Meu Som</h2>
			<div class="soundcloud">
				<a href="#">Adicione aqui seu player do soundcloud</a>	
			</div>
		</div>

		<div class="fl myequipaments">
			<h2 class="marker small">Meus equipamentos</h2>
			<div class="self-assessment"></div>
		</div>
		<div class="fl influences">
			<h2 class="marker small">Influências</h2>
			<textarea type="text" class="post-on-edit">Digite aqui suas influências</textarea>
		</div>
	</div>

<div class="fl advertising">
			<h2>Ofertas</h2>
		</div>


	


<!-- 	<div class="message">
		{% for solicitation in band_solicitations %}
			<div class="box solicitation">
				<p>
				<strong>{{ solicitation.from_musician.user.get_full_name }}</strong> 
				disse que você toca
				{%for instrument in solicitation.instruments.all %}
					{{ instrument.name }}{% if not forloop.last %}, {%endif%}
				{% endfor %}
				na banda <strong>{{ solicitation.band.name }}</strong>
				</p>
				<a href="#accept" class="accept-solicitation" data-id="{{ solicitation.pk }}">Está certo</a>
				<a href="#decline" class="decline-solicitation" data-id="{{ solicitation.pk }}">Ele viajou</a>
			</div>
		{% endfor %}
	
		{% if user.get_profile.bands.count = 0 %}
			<div class="box without-bands">
				Você ainda não está em nenhuma banda cadastrada no Lasbandas.<br />
				<a href="/banda/cadastrar">Crie uma banda</a> ou <a href="#">Encontre uma banda que precisa de você</a>.
			</div>
		{% else %}
			<div class="box with-bands">
				Suas bandas:
				<ul>
					{% for music_band in user.get_profile.bands %}
						<li> 
							<a href="{{ music_band.band.encode_page }}" target="_blank">
							{{ music_band.band.name }} (
								{%for instrument in music_band.instruments.all %}
									{{instrument.name}}
									{% if not forloop.last %}, {%endif%}
								{% endfor %}
							)
							</a>
						</li>
					{% endfor %}
				</ul>
				
				<a href="/banda/cadastrar">[+] Cadastrar nova banda</a>
			</div>
		{% endif %}
	</div> -->
{% endblock %}

