{% extends "includes/wrapper.html" %}
{% load staticoptimizer %}

{% block css %}
	{% css "css/src/home.css" %}
{% endblock %}

{% block js %}
	{% js "js/src/ui/home.js" %}
{% endblock %}

{% block mainclass %}banner{% endblock %}

{% block content %}
	<section id="content" class="wrapper clearfix">
		<article id="call-to-action">
			<h2>Você é músico?</h2>
			<span class="higlight">Procura ou quer formar uma banda?</span>
			<p>então conheça o melhor site de bandas e músicos do brasil!</p>
			<ul class="know">
				<li>Crie seu perfil</li>
				<li>Procure por bandas, por musicos, por estilo, CEP, encontre o estúdiomais próximo e muito mais!</li>
			</ul>
		</article>
		<article id="subscription">
			<h2 class="white">Cadastre-se</h2>
			<form action="/musico/cadastrar" method="post" id="subscribe-form" class="ajax">{% csrf_token %}
				{% include "includes/subscription-form.html" %}
				<input type="submit" value="Cadastrar" class="btn fr" />
				<a href="#" class="fb-login fl">Conecte Facebook</a>
			</form>
		</article>
	</section>
	
	<section id="search-musicians">
		<article class="wrapper">
			<ul class="filters">
				<li class="musicians">Encontre músicos</li>
				<li class="bands">Encontre uma banda</li>
				<li class="studios">Encontre estúdios</li>
			</ul>
		</article>
	</section>
	
	<section id="presenting-lb">
		<article id="create-profile" class="parallax" data-speed="15">
			<div class="">
				<div class="wrapper">
					<div class="fl">
						<h2>
							<div class="title">
								<span class="background">Crie seu perfil</span>
							</div>
						</h2>
						<h3>
							<div class="subtitle">
								<span class="background">Você em destaque</span>
							</div>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae tellus nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce elit augue, dapibus in ornare dictum, suscipit eu sem. Donec lacinia luctus sapien, posuere mollis neque tempus et</p>
					</div>
					<div class="fr">
						<img src="http://lasbandas.s3.amazonaws.com/site/print-perfil.png">
					</div>
				</div>
			</div>
		</article>
		
		<article id="find-musicians" class="parallax" data-speed="10">
			<div class="">
				<div class="wrapper">
					<div class="fl">
						<img src="http://lasbandas.s3.amazonaws.com/site/photos-home.png">
					</div>
					<div class="fr">
						<h2>
							<div class="title">
								<span class="background">Encontre músicos</span>
							</div>
						</h2>
						<h3>
							<div class="subtitle">
								<span class="background">Perto <br/>de você!</span>
							</div>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae tellus nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce elit augue, dapibus in ornare dictum, suscipit eu sem. Donec lacinia luctus sapien, posuere mollis neque tempus et</p>
					</div>
				</div>
			</div>
		</article>
		
		<article id="fanpage" class="parallax" data-speed="5">
			<div class="">
				<div class="wrapper">
					<div class="fl">
						<h2>
							<div class="title">
								<span class="background">Crie uma página para sua banda</span>
							</div>
						</h2>
						<h3>
							<div class="subtitle">
								<span class="background">Sua banda de fanpage</span>
							</div>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae tellus nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce elit augue, dapibus in ornare dictum, suscipit eu sem. Donec lacinia luctus sapien, posuere mollis neque tempus et</p>
					</div>
					<div class="fr">
						<img src="http://lasbandas.s3.amazonaws.com/site/print-fanpage.png">
					</div>
				</div>
			</div>
		</article>
		
		<article id="footer-sign">
			<div class="wrapper line">
				<h3>Agora você só fica sem banda se quiser!</h3>
				<a href="/lightbox-login?width=780&amp;height=350" class="lightbox btn red">Cadastre-se</a>
			</div>
		</article>
	</section>
{% endblock %}


{% block aside %}
{% endblock %}