{% extends "includes/wrapper.html" %}
{% load staticoptimizer %}

{% block css %}
	{% css "css/src/home-logged.css" %}
{% endblock %}

{% block js %}
	{% js "js/src/ui/home-logged.js" %}
{% endblock %}

{% block mainclass %}can-edit{% endblock %}

{% block content %}
	<div id="cover-photo">
		<div id="user-header" class="clearfix">
			<div id="profile-photo" class="fl"></div>
			<h1 class="fl editable" data-field="user.first_name">
				{{ user.get_full_name }}
			</h1>
		</div>
	</div>
	
	{% if musician.type_instruments_play.all.count = 0 or not musician.address.city %}
	<div class="fl">
		<div id="complete-subscription" class="clearfix">
			<h3 class="attention">*É PRECISO COMPLETAR SEU CADASTRO</h3>
			<div class="musician-info fl">
				<form action="/musico/atualizar/type_instruments_play" method="post" class="ajax inline-form">
				{% for instrument in equipament_types %}
					<label class="{{ instrument.name }}">

						<input type="checkbox" value="{{ instrument.id }}" name="type_instruments_play" 
							{% if instrument in musician.type_instruments_play.all|dictsort:"id" %}
								checked="checked"
							{% endif %}
						/> 
						{{ instrument.name }}
					</label>
				{% endfor %}
				</form>
			</div>

			<div class="personal-info fl">
				<div>
					<label>Nome completo:</label>
					<input type="text" name="user.first_name" class="post-on-edit" value="{{ user.get_full_name }}" />
				</div>

				<div>
					<label>Estilo de música:</label>
					<form action="/musico/atualizar/musical_styles" method="post" class="ajax inline-form">
					{% for style in musical_styles %}
						<label>

							<input type="checkbox" value="{{ style.id }}" name="musical_styles" 
								{% if style in musician.musical_styles.all|dictsort:"id" %}
									checked="checked"
								{% endif %}
							/> 
							{{ style.name }}
						</label>
					{% endfor %}
					</form>
				</div>

				<div>
					<label>Data de Nascimento:</label>
					<input type="text" class="post-on-edit"/>
				</div>

				<div>
					<label>Digite seu cep:</label>
					<input type="text" name="address.cep" class="post-on-edit" value="{{ musician.address.cep }}" />
				</div>
			</div>
		</div>
	{% endif %}

			
		 <div class="about fl">
			<textarea type="text" class="post-on-edit">Fale sobre você</textarea>
		</div>

		<div id="all-media" class="fr">
			
			<a href="#" class="pictures fl">
				<span class="title">Fotos <span class="count">(68)</span></span>
			</a>
			<a href="#" class="movies fl">
				<span class="title">Vídeos <span class="count">(68)</span></span>
			</a>
			<a href="#" class="bands fl">
				<span class="title">Bandas</span>
			</a>
		</div>

	</div>

	<div class="fr advertising">
		<h2>Ofertas</h2>
	</div>


<!-- 	<div class="message">
		{% for solicitation in band_solicitations %}
			<div class="box solicitation">
				<p>
				<strong>{{ solicitation.from_musician.user.get_full_name }}</strong> 
				disse que você toca
				{%for instrument in solicitation.instruments.all %}
					{{ instrument.name }}{% if not forloop.last %}, {%endif%}
				{% endfor %}
				na banda <strong>{{ solicitation.band.name }}</strong>
				</p>
				<a href="#accept" class="accept-solicitation" data-id="{{ solicitation.pk }}">Está certo</a>
				<a href="#decline" class="decline-solicitation" data-id="{{ solicitation.pk }}">Ele viajou</a>
			</div>
		{% endfor %}
	
		{% if user.get_profile.bands.count = 0 %}
			<div class="box without-bands">
				Você ainda não está em nenhuma banda cadastrada no Lasbandas.<br />
				<a href="/banda/cadastrar">Crie uma banda</a> ou <a href="#">Encontre uma banda que precisa de você</a>.
			</div>
		{% else %}
			<div class="box with-bands">
				Suas bandas:
				<ul>
					{% for music_band in user.get_profile.bands %}
						<li> 
							<a href="{{ music_band.band.encode_page }}" target="_blank">
							{{ music_band.band.name }} (
								{%for instrument in music_band.instruments.all %}
									{{instrument.name}}
									{% if not forloop.last %}, {%endif%}
								{% endfor %}
							)
							</a>
						</li>
					{% endfor %}
				</ul>
				
				<a href="/banda/cadastrar">[+] Cadastrar nova banda</a>
			</div>
		{% endif %}
	</div> -->
{% endblock %}

