{% extends "includes/wrapper.html" %}

{% block css %}
	<link rel="stylesheet" href="/s/css/home.css">
{% endblock %}

{% block js %}
	<script src="/s/js/ui/home.js"></script>
{% endblock %}


{% block content %}
	<h3>Bem vindo!</h3>
	<div class="message">
		
		{% for solicitation in band_solicitations %}
			<div class="box solicitation">
				<p>
				<strong>{{ solicitation.from_musician.user.get_full_name }}</strong> 
				disse que você toca
				{%for instrument in solicitation.instruments.all %}
					{{ instrument.name }}{% if not forloop.last %}, {%endif%}
				{% endfor %}
				na banda <strong>{{ solicitation.band.name }}</strong>
				</p>
				<a href="#accept" class="accept-solicitation" data-id="{{ solicitation.pk }}">Está certo</a>
				<a href="#decline" class="decline-solicitation" data-id="{{ solicitation.pk }}">Ele viajou</a>
			</div>
		{% endfor %}
	
		{% if music_bands.count = 0 %}
			<div class="box without-bands">
				Você ainda não está em nenhuma banda cadastrada no Lasbandas.<br />
				<a href="/banda/cadastrar">Crie uma banda</a> ou <a href="#">Encontre uma banda que precisa de você</a>.
			</div>
		{% else %}
			<div class="box with-bands">
				Suas bandas:
				<ul>
					{% for music_band in music_bands %}
						<li> 
							<a href="{{ music_band.band.encode_page }}" target="_blank">
							{{ music_band.band.name }} (
								{%for instrument in music_band.instruments.all %}
									{{instrument.name}}
									{% if not forloop.last %}, {%endif%}
								{% endfor %}
							)
							</a>
						</li>
					{% endfor %}
				</ul>
				
				<a href="/banda/cadastrar">[+] Cadastrar nova banda</a>
			</div>
		{% endif %}
		
		{% if user.get_profile.cep == None %}
		<p>
			Informe seu cep e encontre músicos e bandas próximos de você: <br>
			<input type="text" id="cep" placeholder="cep">
			<input type="button" value="ok" id="save-cep" />
		</p>
		{% else %}
			<p>
				Mantenha suas <a href="musico/editar">informações pessoais atualizadas.</a>
			</p>
		{% endif %}
	</div>
{% endblock %}

