{% extends "includes/wrapper.html" %}
{% extends "lightbox/login.html"}
{% load staticoptimizer %}

{% block css %}
	{% css "css/src/home.css" %}
{% endblock %}

{% block js %}
	{% js "js/src/ui/home.js" %}
{% endblock %}

{% block content %}
	<article id="call-to-action">
		<h2>Você é músico?</h2>
		<span class="higlight">Procura ou quer formar uma banda?</span>
		<p>então conheça o melhor site de bandas e músicos do brasil!</p> 
	</article>
	<article id="subscription">
		<h2 class="white">Cadastre-se</h2>
		{% block signup %}
		<form action="/musico/cadastrar" method="post" id="subscribe-form" class="ajax">{% csrf_token %}
			{% for field in form %}
		        <div>
		            {{ field }}
		        </div>
		    {% endfor %}
			<input type="submit" value="Cadastrar" class="btn fr" />
		</form>
		{% endblock %}
	</article>
{% endblock %}


{% block aside %}
{% endblock %}