{% extends base_template %}

{% load staticoptimizer %}
{% load mathfilters %}

{% block mainclass %}can-edit{% endblock %}

{% block musiciancontent %}
<div id="all-messages">
	<div class="sidebar fl">
		<nav class="list-header">
			<a class="invitations" href="#solicitacoes">Solicitações de convites ( <span id="total-solicitations">0</span> )</a>
			<a class="nav-messages" href="#mensagens">Mensagens ( <span id="total-messages">0</span> )</a>
		</nav>
		<ul class="list-people">
			<li>
				<img src="http://lasbandas.s3.amazonaws.com/u/4/avatar-small.png" width="50" class="fl"/>
				<div class="description">
					<span class="name fl">Anderson Santana</span>
					<span class="date fr">Sáb</span>
				</div>
				<div class="messages">kldsfklsdkl fdsklsdf jsdlj fdljldsf fdjsljds </div>
			</li>
			<li>
				<img src="http://lasbandas.s3.amazonaws.com/u/4/avatar-small.png" width="50" class="fl"/>
				<div class="description">
					<span class="name fl">Anderson Santana</span>
					<span class="date fr">Sáb</span>
				</div>
				<div class="messages">kldsfklsdkl fdsklsdf jsdlj fdljldsf fdjsljds </div>
			</li>
			<li>
				<img src="http://lasbandas.s3.amazonaws.com/u/4/avatar-small.png" width="50" class="fl"/>
				<div class="description">
					<span class="name fl">Anderson Santana</span>
					<span class="date fr">Sáb</span>
				</div>
				<div class="messages">kldsfklsdkl fdsklsdf jsdlj fdljldsf fdjsljds </div>
			</li>
			
		</ul>
	</div>

	<div class="main fl">
		conteúdo
	</div>
</div>
{% endblock musiciancontent %}