{% extends base_template %}
{% load staticoptimizer %}

{% block bandcontent %}

<h2 class="subtitle">Vídeos da Banda</h2>

<div id="movies">
	<h3>Para publicar, insira a URL do vídeo que deseja públicar</h3>
	<div class"line">
		<form method="POST" action="/banda/adicionar-video" class="ajax" id="add-video-form">
			<input type="hidden" value="{{band.id}}" name="id"/>
			<label>URL</label>
			<input type="url" id="movies-url-value" name="video" />
			<button class="btn">Adicionar Vídeo</button>
		</form>
	</div>
	<span class="terms">Atenção É expressamente proibida a publicação de conteúdo multimídia pornográfico e/ou ofensivo e material com direitos autorais. Ao enviar os arquivos, você estará declarando que o material não viola os Termos de Uso do Lasbandas e que você possui os direitos autorais ou a permissão dos proprietários dos diretos autorais para publicação. É proibida também a publicação de conteúdo que não esteja relacionado com o tema.</span>
</div>

<ul class="line" id="album-photos">
	{% for v in band.media.videos %}
		<li>
			<a href="#delete-video" data-id="{{ v.id }}" class="remove-video remove icons">x</a>
			<a href="{{ v.media }}" class="media-gallery" data-type="video">
				<img src="//i3.ytimg.com/vi/{{ v.media }}/default.jpg" />
			</a>
		</li>
	{% endfor %}
</ul>

{% endblock bandcontent %}

