{% extends base_template %}
{% load staticoptimizer %}

{% block mainclass %}can-edit{% endblock %}
{% block bodyattr %} data-inline-edit-path="/banda/atualizar/" data-id="{{ band.id }}" {% endblock %}

{% block bandcontent %}
	<div id="band-looking" class="edit clearfix">
		<div class="line">
			<h2 class="subtitle fl">Crie um anúncio para encontrar o músico que falta na sua banda!</h2>
			<a href="#" id="collpase-announcement" class="fr toggle-button" data-noncollapsedlabel="ocultar" data-collapsedlabel="exibir" data-target="#band-looking-inner"></a>
		</div>
		<div id="band-looking-inner">

			<form method="post" action="/anuncio/criar" id="create-announcement-form" class="ajax">
				<input type="hidden" name="band_id" value="{{ band.id }}" />
				
				<div class="line">
					<div class="choose-instrument fl">
						<h3>Preciso de: <span class="active">guitarrista</span></h3>
						<div class="instruments">
							{% for instrument in equipament_types %}
								<div class="box-label">
									<label class="{{ instrument.normalized_name }} check-icon icons-instruments">
										<input type="checkbox" value="{{ instrument.id }}" name="instruments" /> 
										{{ instrument.name }}
									</label>
								</div>
							{% endfor %}
							<div class="box-label">
								<a href="#lb-lightbox-more-instruments" class="lightbox plus icons-instruments"><label class="plus">Outros</label></a>
							</div>
						</div>
					</div>

					<div class="info-job fl">
						<input name="title" placeholder="Título" class="input"/>
						<input name="text" class="adTxt input" placeholder="Digite aqui o anúncio da sua banda"/>
					</div>
					<input type="submit" value="Criar anuncio" class="btn"/>
				</div>
			</form>
			<div id="lb-lightbox-more-instruments" class="hidden see-all-option">
				<div class="lightbox-title">
					<p class="fl">Escolha seu instrumento</p>
				</div>
				<form action="/musico/atualizar/type_instruments_play" method="post" class="ajax inline-form instruments-play">
					{% for instrument in equipament_types %}
						<label class="{{ instrument.normalized_name }} check-icon">
							<input type="checkbox" value="{{ instrument.id }}" name="type_instruments_play" 
								{% if instrument in musician.type_instruments_play.all|dictsort:"id" %}
									checked="checked"
								{% endif %}
							/> 
							{{ instrument.name }}
						</label>
					{% endfor %}
				</form>
				<button class="lightbox-close btn">Enviar</button>
			</div>
		</div>
	</div>

	<div class="modules">
		<div class="about fl">
			<textarea class="about-you post-on-edit" name="about" data-single="true">{% if band.about %}{{band.about}}{% else %}Fale sobre sua banda{% endif %}</textarea>

			<button class="btn-edit">Editar</button>
		</div>

		<div id="all-media" class="fl">
			<a href="{{ band.fotos_url }}" class="no-refresh pictures fl">
				<span class="title">Fotos <span class="count">(68)</span></span>
			</a>
			<a <a href="{{ band.videos_url }}" class="no-refresh movies fl">
				<span class="title">Vídeos <span class="count">(68)</span></span>
			</a>
			<a href="{{ band.setlist_url }}" class="no-refresh bands fl">
				<span class="title">Setlist</span>
			</a>
		</div>
		
		<div class="fl mysound">
			<h2 class="marker small">Nosso<strong>Som</strong></h2>
			
			{% if band.media.sound_cloud %}
				<div id="user-soundcloud-player" class="soundcloud-player" data-src="{{ band.media.sound_cloud }}"></div>
				<a href="/lightbox/soundcloud?width=550&amp;height=420&amp;is_band=True" class="lightbox btn-edit">Editar</a>
			{% else %}
				<div id="user-soundcloud-player"></div>
				<div class="soundcloud">
					<a href="/lightbox/soundcloud?width=550&amp;height=420" class="lightbox">Adicione aqui seu player do soundcloud</a>	
				</div>
			{% endif %}

		</div>
	</div>
	<div class="modules">	
		<div class="fl band-members">
			<h2 class="marker small">Integrantes</h2>
			<ul class="members">
				{% for musician in band.musicians_list %}
					<li>
						<a href="{{ musician.profile_url }}"
							{% if not musician.media.avatar %} class="without-avatar" {% endif %} >
							{% if musician.media.avatar %}
								<img src="{{ musician.media.avatar }}" title="{{ musician.name }}" />
							{% endif %}
							{{ musician.name }}
						</a>
					</li>
				{% endfor %}
				<a href="#" class="add fl">Adicionar integrante</a>
			</ul>
		</div>
		<div class="fl influences">
			<h2 class="marker small">Influências</h2>
			<textarea type="text" class="post-on-edit" name="influences" data-single="true">{% if band.influences %}{{band.influences}}{% else %}Digite aqui as influencias da banda{% endif %}</textarea>
		</div>
	</div>

{% endblock %}