{% extends base_template %}
{% load staticoptimizer %}

{% block bandcontent %}

<h2 class="subtitle">Álbum da Banda</h2>

<ul id="album-photos" class="media-container">
	{% if can_edit %}
		<li class="add">
			<form enctype="multipart/form-data" action="/banda/adicionar-foto" method="post">
				<input type="hidden" value="{{band.id}}" name="id"/>
				{% csrf_token %}
				<input type="file" id="new-photo" name="img"/>
				<span>Adicionar foto<span>
			</form>
		</li>
	{% elif not photos %}
		<div class="empty fl">
			<p>
				<strong>Nenhuma foto</strong> 
				{{ band.name }} está sem fotos :(
			</p>
		</div>
	{% endif %}
	
	{% for photo in photos %}
		<li data-id="{{ photo.id }}">
			<a href="{{ photo.large }}" 
				data-pos="{{ forloop.counter|add:1 }}"
				title="{% if photo.legend %}{{ photo.legend }}{% else %}----{% endif %}"
				class="media-gallery">
				<img src="{{photo.thumb}}" alt="{{ photo.legend }}" />
			</a>
			{% if can_edit %}
				<a href="#delete-photo" data-id="{{ photo.id }}" class="remove-photo remove icons">x</a>
				<span class="editable legend" data-field="legend" data-default="Editar legenda" data-disableautopost="true">
					{% if photo.legend %}
						{{ photo.legend }}
					{% else %}
						<em>Editar legenda</em>
					{% endif %}
				</span>
			{% else %}
				<span class="legend">
					{% if photo.legend %}
						{{ photo.legend }}
					{% else %}
						----
					{% endif %}
				</span>
			{% endif %}
		</li>
	{% endfor %}
</ul>


{% endblock bandcontent %}

