{% extends "includes/wrapper.html" %}

{% block css %}
	<link rel="stylesheet" href="/s/css/band.css">
{% endblock %}

{% block js %}
	<script src="/s/js/ui/edit-band.js"></script>
{% endblock %}

{% block content %}
	{% if edit  %}
		<h3>Editando a banda "{{ form.instance }}"</h3>
		<a href="{{ form.instance.encode_page }}" target="_blank">Página da banda</a>		
	{% else %}
		<h3>Adicionar uma banda</h3>
	{% endif %}
	
	
	<section class="block-information">
		<h4>Informações:</h4>
		{% if edit %}
		<form method="post" id="edit-band-form" class="ajax" action="/banda/editar/{{band.pk}}/post">{% csrf_token %}
		{% else %}
		<form method="post" id="edit-band-form" class="ajax" action="/banda/cadastrar/post">{% csrf_token %}
		{% endif %}
			{{ form.as_p }}
			{{ musician_form.as_p }}
			<input type="submit" value="Salvar" />
		</form>
	</section>
	
	{% if edit %}
	<section class="block-information clearfix">
		<h4>Formação:</h4>
		<ul>
			{% for m in band.musicians_active.all %}
				<li class="musician-info-line"> 
					<a href="{{ m.musician.encode_profile }}">
						{%for instrument in m.instruments.all %}
							{{instrument.name}}
							{% if not forloop.last %}, {%endif%}
						{% endfor %}:
					  {{ m.musician.user.get_full_name }}
					</a> 
					{% if not m.is_admin and logged_user_is_admin or m.musician.user.pk == user.pk %}
					| <a href="#remove" data-id="{{ m.pk }}" class="remove-musician">Remover</a>
					{% endif %}
				</li>
			{% endfor %}
			{% for s in pending_solicitations %}
				<li title="convidado por {{ s.from_musician.user.get_full_name }}">
					{{ s.to_musician.user.get_full_name }}(
					{%for instrument in s.instruments.all %}
						{{ instrument.name }}{% if not forloop.last %}, {%endif%}
					{% endfor %}) - PENDENTE
					| <a href="#remove" data-id="{{ s.pk }}" class="remove-solicitation">Remover</a>
				</li>
			{% endfor %}
		</ul>
		{% if logged_user_is_admin %}
		<a href="#add-musicians" id="add-musicians" class="fr">[+] Adicionar membros</a>
		
		<div id="instruments">
			<form id="add-to-band" action="/solicitacao/musico/enviar" class="ajax" method="post">
				<input type="hidden" name="band_id" id="band_id" value="{{ band.pk }}" />
				<input type="hidden" name="target_id" id="target_id" />
				<div id="list-instruments"></div>
				<input type="submit" value="ok" />
			</form>
		</div>
		
		{% endif %}
	</section>
	
	<section class="block-information clearfix">
		<h4>Vagas em aberto na banda:</h4>
		
		{% for a in band.announcements.all %}
			{%for instrument in a.instruments.all %}
				{{ instrument.name }}{% if not forloop.last %}, {%endif%}
			{% endfor %} - {{ a.text }}
			| <a href="#remove" data-id="{{ a.pk }}" class="remove-announcement">Remover</a>
		{% endfor %}
		
		<br /><br />
		
		Adicionar:<br />
		
		<form id="add-announcement" method="post" action="/annoucement/add">
			<input type="hidden" name="bandid" value="{{ band.pk }}" />
			{{ ammouncement_form.as_p }}
			
			<input type="submit" value="adicionar vaga" />
		</form>
	</section>
	{% endif %}
{% endblock %}