{% extends "includes/wrapper.html" %}

{% block css %}
	<link rel="stylesheet" href="/s/css/profile.css">
{% endblock %}

{% block js %}
	<script src="/s/js/ui/musician-profile.js"></script>
{% endblock %}

{% block content %}

	{% if owner.pk != user.pk %}
		<div id="box-ask-musician">
			<a href="#convidar-musico" id="ask-musician">Adicionar na banda...</a>
			<div id="list-your-bands">
				<ul id="bands"></ul>
			</div>
			
			<div id="instruments">
				<form id="add-to-band" action="/solicitacao/musico/enviar" class="ajax" method="post">
					<input type="hidden" name="band_id" id="band_id" />
					<div id="list-instruments"></div>
					<input type="submit" value="ok" />
				</form>
			</div>
		</div>
	{% endif %}
	
	<h3>{{ owner.user.get_full_name }}</h3>
	
	<div class="clearfix">
		<section id="bands" class="profile-block">
			<header>
				<h4>Bandas que toca</h4>
			</header>
			<ul>
				{% for music_band in owner_bands %}
					<li> 
						<a href="{{ musicBand.band.encode_page }}" data-owner-band-id="{{ music_band.band.id }}">
						{{ music_band.band.name }} (
							{%for instrument in music_band.instruments.all %}
								{{instrument.name}}
								{% if not forloop.last %}, {%endif%}
							{% endfor %}
						)
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
		
		<section id="musical-styles" class="profile-block">
			<header>
				<h4>Estilos musicais</h4>
			</header>
			<ul>
				{% for style in owner.musical_styles.all %}
					<li>{{ style.name }}</li>
				{% endfor %}
			</ul>
		</section>
	</div>
	<section id="instruments-play" class="profile-block">
		<header>
			<h4>Instrumentos que toca</h4>
		</header>
		<ul>
			{% for instrument in owner.type_instruments_play.all %}
				<li>{{ instrument.name }}</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}

{% block aside %}{% endblock %}
