{% extends base_template %}
{% load staticoptimizer %}
{% load mathfilters %}

{% block musiciancontent %}
		{% if musician.type_instruments_play.count > 0 or musician.musical_styles.count > 0 %}
		<div id="complete-subscription" class="clearfix public">
			<ul class="musician-info fl">	
				{% for instrument in musician.type_instruments_play.all %}
					<li class="{{ instrument.normalized_name }} icons-instruments">
						<input type="checkbox" value="{{ instrument.id }}" name="type_instruments_play" 
							{% if instrument in musician.type_instruments_play.all|dictsort:"id" %}
								checked="checked"
							{% endif %}
						/>
						<span>{{ instrument.name }}</span>
					</li>
				{% endfor %}
			</ul>

			<div class="personal-info fl">
				{% if musician.musical_styles.count > 0 %}
				<div>
					<label>Quero tocar:</label>
					{% for style in musician.musical_styles.all %}
						{{ style.name }}
						{% if not forloop.last %} | {%endif%}
					{% endfor %}
				</div>
				{% endif %}
			</div>
			<p class="born-celebrity">Você nasceu no mesmo ano que <span id="same-year-as">--</span></p>
		</div>

		{% else %}
			<div class="musician-info-empty">Não sei tocar nenhum instrumento, eu acho! :( </div>
		{% endif %}

		<div class="modules">	
		{% if musician.about != "" %}
			<div class="about fl">
				<div class="about-you">{{ musician.about }}</div>
			</div>
			{% else %}
			<div class="about empty fl">
				Infelizmente essa músico não adicionou informação no seu perfil
			</div>
		{% endif %}

			<div id="all-media" class="fl">
				
				<a href="#" class="pictures fl">
					<span class="title">Fotos <span class="count">(68)</span></span>
				</a>
				<a href="#" class="movies fl">
					<span class="title">Vídeos <span class="count">(68)</span></span>
				</a>
				<a href="#" class="bands fl">
					<span class="title">Bandas</span>
				</a>
			</div>
		</div>

		<div class="modules">	
			<div class="fl status">
				<h2 class="marker small">Status</h2>
				<div class="self-assessment">
					<ul class="skills">
						<li>
							<span>Feeling</span>
							<span class="bar 
								{% if musician.skills.feeling <= 0 %} disabled{% endif %}
								">
								<div class="filled" style="width:{{musician.skills.feeling|mul:10}}%;"></div>
								{% if musician.skills.feeling >= 0 %}
									<div class="fr rating">{{ musician.skills.feeling }}</div>
								{% endif %}
							</span>
						</li>
						<li>
							<span>Experiência</span>
							<span class="bar
								{% if musician.skills.experience <= 0 %} disabled{% endif %}
								">
								<div class="filled" style="width:{{musician.skills.experience|mul:10}}%;"></div>
								{% if musician.skills.experience >= 0 %}
									<div class="fr rating">{{ musician.skills.experience }}</div>
								{% endif %}
							</span>
						</li>
						<li>
							<span>Versatilidade</span>
							<span class="bar
								{% if musician.skills.versatility <= 0 %} disabled{% endif %}
								">
								<div class="filled" style="width:{{musician.skills.versatility|mul:10}}%;"></div>
								{% if musician.skills.versatility >= 0 %}
									<div class="fr rating">{{ musician.skills.versatility }}</div>
								{% endif %}
							</span>
						</li>
						<li>
							<span>Performace de palco</span>
							<span class="bar
								{% if musician.skills.stage_performace <= 0 %} disabled{% endif %}
								">
								<div class="filled" style="width:{{ musician.skills.stage_performace|mul:10}}%;"></div>
								{% if  musician.skills.stage_performace >= 0 %}
									<div class="fr rating">{{ musician.skills.stage_performace }}</div>
								{% endif %}
							</span>
						</li>
						<li>
							<span>Comprometimento</span>
							<span class="bar
								{% if musician.skills.commitment <= 0 %} disabled{% endif %}
								">
								<div class="filled" style="width:{{musician.skills.commitment|mul:10}}%;"></div>
								{% if musician.skills.commitment >= 0 %}
									<div class="fr rating">{{ musician.skills.commitment }}</div>
								{% endif %}
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="fl mysound">
				<h2 class="marker small">Meu<strong>Som</strong></h2>
				
				{% if musician.media.sound_cloud %}
					<div id="user-soundcloud-player" class="soundcloud-player" data-src="{{ musician.media.sound_cloud }}"></div>
				{% else %}
					<div id="user-soundcloud-player"></div>
					<div class="soundcloud">Este músico não possui playlist :(</div>
				{% endif %}
		
			</div>
		</div>

		<div class="modules">	
			<div class="fl myequipaments">
				<h2 class="marker small">Meus<strong>Equipamentos</strong></h2>
			</div>
			
			{% if musician.influences %}
				<div class="fl influences">
					<h2 class="marker small">Influências</h2>
					<div class="influences-content">{{musician.influences}}</div>
				</div>
			{% endif %}
		</div>
{% endblock %}

