{% extends base_template %}
{% load staticoptimizer %}

{% block musiciancontent %}

<h2 class="subtitle">Álbum de vídeos</h2>

<div id="movies">
	<h3>Para publicar, insira a URL do vídeo que deseja públicar</h3>
	<div class"line">
		<label>URL</label>
		<input type="url" class="post-on-edit" name="media.movies" id="movies-url-value" />
		<button class="btn">Buscar Vídeos</button>
	</div>
	<span class="terms">Atenção É expressamente proibida a publicação de conteúdo multimídia pornográfico e/ou ofensivo e material com direitos autorais. Ao enviar os arquivos, você estará declarando que o material não viola os Termos de Uso do Lasbandas e que você possui os direitos autorais ou a permissão dos proprietários dos diretos autorais para publicação. É proibida também a publicação de conteúdo que não esteja relacionado com o tema.</span>
</div>
{% endblock musiciancontent %}

