{% extends base_template %}
{% load staticoptimizer %}

{% block musiciancontent %}

<h2 class="subtitle">Bandas de {{ musician.name }}</h2>

<ul id="bands-musician">

	{% for band in bands %}
		<li>
			<a href="{{ band.page_url }}" class="without-avatar">
				<span class="name-band">
					{{ band.name }} |
					<span>
						{% for style in band.musical_styles.all %}
							{{ style.name }}
						{% if not forloop.last %} | {%endif%}
					{% endfor %}
					</span>
				</span>
				<img alt="{{ band.name }}" {% if band.media.cover_small %} src="{{band.media.cover_small}}" {% endif %} />
			</a>
		</li>
	{% endfor %}
	
	{% if musician.pk = user.pk %}
		<a href="/banda/criar?width=500&amp;height=250" class="add fl lightbox btn gray">Criar nova banda</a>
	{% elif not bands %}
		<div class="empty fl">
			<p>
				<strong>Sem banda</strong> 
				<a href="#invite" class="send-msg" data-toid="{{ musician.id }}">envie uma mensagem</a>  para<br/>
				 {{ musician.name }} e chame para tocar!
			</p>
		</div>
	{% endif %}
</ul>

{% endblock musiciancontent %}

