{% extends base_template %}
{% load staticoptimizer %}

{% block musiciancontent %}

<h2 class="subtitle">Álbum de fotos</h2>

<ul id="album-photos">
	{% if user.id = musician.id %}
	<li class="add">
		<form enctype="multipart/form-data" action="/musico/adicionar-foto" method="post">
			{% csrf_token %}
			<input type="file" id="new-photo" name="img"/>
			<span>Adicionar foto<span>
		</form>
	</li>
	{% endif %}
	
	{% for photo in musician.media.photos %}
		<li>
			<a href="#delete-photo" data-id="{{ photo.id }}" class="remove-photo remove icons">x</a>
			<a href="{{ photo.large }}" class="media-gallery">
				<img src="{{photo.thumb}}" alt="{{ photo.legend }}" />
			</a>
		</li>
	{% endfor %}

</ul>

{% endblock musiciancontent %}

