{% extends base_template %}
{% load staticoptimizer %}

{% block musiciancontent %}

<h2 class="subtitle">Álbum de vídeos</h2>

{% if user.id = musician.id %}
<div id="movies">
	<h3>Para publicar um vídeo, insira uma URL do Youtube.</h3>
	<div class"line">
		<form method="POST" action="/musico/adicionar-video" class="ajax" id="add-video-form">
			<label>URL</label>
			<input type="url" id="movies-url-value" name="video" />
			<button class="btn">Adicionar Vídeo</button>
		</form>
	</div>
	<span class="terms">Atenção É expressamente proibida a publicação de conteúdo multimídia pornográfico e/ou ofensivo e material com direitos autorais. Ao enviar os arquivos, você estará declarando que o material não viola os Termos de Uso do Lasbandas e que você possui os direitos autorais ou a permissão dos proprietários dos diretos autorais para publicação. É proibida também a publicação de conteúdo que não esteja relacionado com o tema.</span>
</div>
{% elif not videos %}
	<div class="empty fl">
		<p><strong>Nenhum vídeo</strong> {{ musician.name }} é tímido</p>
	</div>
{% endif %}

<ul class="media-container" id="album-photos">
	{% for v in videos %}
		<li data-id="{{ v.id }}">
			<a href="{{ v.media }}" 
				class="media-gallery" 
				data-type="video" 
				data-pos="{{ forloop.counter }}"
				title="{% if v.legend %}{{ v.legend }}{% endif %}">
				<img src="//i3.ytimg.com/vi/{{ v.media }}/1.jpg" />
			</a>

			{% if user.id = musician.id %}
				<a href="#delete-video" data-id="{{ v.id }}" class="remove-video remove icons" title="Excluir vídeo">x</a>
				<span class="editable legend" data-field="legend" data-default="Editar legenda" data-disableautopost="true">
					{% if v.legend %}
						{{ v.legend }}
					{% else %}
						<em>Editar legenda</em>
					{% endif %}
				</span>
			{% else %}
				<span class="legend">
					{% if v.legend %}
						{{ v.legend }}
					{% else %}
						----
					{% endif %}
				</span>
			{% endif %}
		</li>
	{% endfor %}
</ul>
{% endblock musiciancontent %}

