{% extends base_template %}
{% load staticoptimizer %}

{% block musiciancontent %}

<h2 class="subtitle">Álbum de fotos</h2>

<ul id="album-photos" class="media-container">
	{% if user.id = musician.id %}
	<li class="add">
		<form enctype="multipart/form-data" action="/musico/adicionar-foto" method="post">
			{% csrf_token %}
			<input type="file" id="new-photo" name="img"/>
			<span>Adicionar foto<span>
		</form>
	</li>
	{% elif not photos %}
		<div class="empty fl">
			<p><strong>Nenhuma foto</strong> {{ musician.name }} é timido</p>
		</div>
	{% endif %}
	
	{% for photo in photos %}
		<li data-id="{{ photo.id }}">
			
			{% if user.id = musician.id %}
				<a href="#delete-photo" data-id="{{ photo.id }}" class="remove-photo remove icons">x</a>

				<span class="editable" data-field="legend">
					{% if photo.legend %}
						{{ photo.legend }}
					{% else %}
						Adicionar legenda
					{% endif %}
				</span>

			{% endif %}
			<a href="{{ photo.large }}" class="media-gallery">
				<img src="{{photo.thumb}}" alt="{{ photo.legend }}" />
			</a>
		</li>
	{% endfor %}

</ul>

{% endblock musiciancontent %}

