@import "_colors.less";
@import "_utils.less";

/*  HTML5 Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: @textcolor; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
.fl{float:left}
.fr{float:right;}
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.line{
	clear: both;
    display: block;
    overflow: hidden;
}
.size1of2 {width: 50%;}


@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

::-moz-selection{ background:@green; color:#fff; text-shadow: none; }
::selection { background:@green; color:#fff; text-shadow: none; }

body{
	background: url(http://lasbandas.s3.amazonaws.com/site/lp/noisepattern.png) repeat scroll 0 0 #C8CCCB;
	font:13px Helvetica,Arial,sans-serif;
}

nav ul li{float:left;}

a{
	color:@green;
	text-decoration:none;
}
a:hover { 
	color: #777;
	.transition(color .2s linear);
}

.hide{display: none;}

.banner{
	background: url(http://lasbandas.s3.amazonaws.com/site/bg-gray-texture.jpg) no-repeat center top transparent;
	min-height: 381px;
	margin-top: 57px;
}

.wrapper{
	margin:auto;
	width:960px;
}

h1,h2,h3, input{
	font-family: 'Dosis';
}

h1{
	font-size:25px;
	font-weight:bold;
}

h2{
	font-size:25px;
}

.btn{
	background-color: @green;
	background-image:linear-gradient(to bottom, @green, @hover);
	border-color:rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	color:#fff;
	padding:5px 30px;
	font-size:17px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 1px 1px 10px #333333; 
	width: auto;

	&:hover {
		background:@hover;
	    background-position: 0 -15px;
	    text-decoration: none;
	    transition: background-position 0.1s linear 0s;
	}

	&.gray{
		background: @darkgray;
		color: #FFF;

		&:hover{
			color:@green;
		}
	}

	&.red{
		background: @red;
		color: #FFF;

		&:hover{
			color:@green;
		}
	}
}

.white{color:#fff;}
.highlight{
	color:@green;
	font-weight: bold;
	font-size: 30px;
}

#header-container{
	background:url(http://lasbandas.s3.amazonaws.com/site/sprite-bgs.png) @darkgray 0 -620px repeat-x;
	height:57px;
	position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#header-logo{
	#logo{
		width:144px;
		height:42px;
		margin:5px 0 0 0;
		background:url(http://lasbandas.s3.amazonaws.com/site/logo.png) no-repeat;
	}
}

#main-search{
	padding-top:9px;
	
	@search-height:36px;
	
	#main-search-field{
		width:500px;
		height:@search-height;
		color: #77777;
		border-radius: 3px 0 0 3px;
		font-size:18px;
		.light;
		padding:0;
		border:none;
		padding-left:15px;
		margin-left:40px;
	}
	
	#main-search-submit{
		height:@search-height;
		border-radius: 0 3px 3px 0;
		width:100px;
	}
}

header.logged{
	#main-search #main-search-field{
		width:395px;
	}
}


#user-menu{
	li{
		margin:7px 10px 0 0;
		line-height:45px;

		&.user-name{
			font-size: 12px;
			width:65px;
			line-height: 15px;
			margin-top:13px;
		}

		&.notifications{width:35px;}
		&.lock{width:35px;}

		.icon{ margin:12px 0 0 5px; }
	}

	a{color:#fff;}
	a:hover{color:@green;}
	.avatar-small{
		background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll -125px -236px #FFFFFF;
	    height: 35px;
	    width: 40px;
		.border-radius(3px);	
		margin-top: 10px;
			img{.border-radius(3px);}
		}
}

#content{
	min-height:360px;
}

.icon{
	background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat transparent;
	display: inline-block;
	width:25px;
	height:25px;
	&.notification{ background-position:0 -106px; }
	&.lock{ background-position:0 -143px; }
}

.marker {
	background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat transparent;
	line-height: 15px;
    padding-left: 40px;
    .light;
    font-size: 22px;

		&.small {background-position: 0 -34px}
		&.big {background-position: 0 -1px}
}

.btn-edit{
	background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll -2px -480px #B9B9BA;
    border: 1px solid #CBCBCB;
    .border-radius(3px);
    color: #434343;
    float: right;
    padding: 4px 4px 4px 28px;

    	&:hover{
    		background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll -2px -480px #383B3B;
    		color: white;
    	}
}

#footer-container{
	background:url(http://lasbandas.s3.amazonaws.com/site/sprite-bgs.png) #323232 0 -371px repeat-x;
	height:248px;
}

#footer-container footer{
	color:white;
}

/*@lightbox login*/
#lb-lightbox-login {
	background: url(http://lasbandas.s3.amazonaws.com/site/lb-slice.png) no-repeat scroll 395px 100px transparent;
    display: table-row;

    .lightbox-title {
    	padding:12px 12px 20px 25px; 
    	line-height: 40px;

    		p{
    			background-position: 0 -435px;
    			font-size: 19px;
    		}
    }

	.fb-login {
		background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-social.png) repeat scroll 0 0 transparent;
	    display: block;
	    height: 40px;
	    margin-left: 9px;
	    text-indent: -9999px;
	    width: 260px;
	}
	h2{
		color: white;
		.semibold;
		font-size: 18px;
		margin-bottom: 8px;
		text-transform: uppercase;
	}

	input{
		margin-bottom:8px;
		width: 325px;
		height: 42px;
	}

	.btn {
		font-size:15px;
		width:330px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
		&.enter{
			height: 28px;
		    padding-top: 1px;
		    width: 115px;
		}
	}

	.login{
		width: 330px;
		padding: 35px;
	}

	.sign{
		padding: 35px 20px 25px;
	}
}

.icons {
	background:url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat 0 0 transparent;
	padding-left: 20px;
	font-size: 14px;
	.semibold;

		&.ads{background-position: 0 -304px;}
}

.subtitle{
	background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll 0 -31px transparent;
    font-size: 18px;
    padding-left: 35px;
    .semibold;
}

.instruments {
	.box-label{
		background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-icons-instruments.png) no-repeat scroll 0 -732px transparent;
		.light;
	    .border-radius(5px);
	    float: left;
	    font-size: 12px;
	    line-height: 140px;
	    margin: 0 0 30px;
	  	padding-right:7px;
	    text-align: center;
	    color: #FFF;

		&:hover{background-position: 0 -793px;}
	}
	
	.icons-instruments{
		background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-icons-instruments.png) no-repeat scroll 0 0 transparent;
		display: block;
		line-height: 140px;
		height: 53px;
		width: 53px;

	    &.guitarra  {background-position: 0 0;}
    	&.bateria   {background-position: 0 -62px;}
    	&.teclado   {background-position: 0 -123px;}
    	&.saxofone  {background-position: 0 -184px;}
    	&.sanfona   {background-position: 0 -244px;}
    	&.vocal     {background-position: 0 -305px;}
    	&.cavaquinho{background-position: 0 -367px;}
    	&.baixo     {background-position: 0 -428px;}
    	&.piano     {background-position: 0 -489px;}
    	&.violao    {background-position: 0 -550px;}
    	&.dj    {background-position: 0 -611px;}
    	&.plus	    {background-position: 0 -671px; text-indent: -9999px;}
    	&.active    {.box-shadow(0px 0px 15px @green);}
    	input{display: none;}
	}
}

#slider-notification{
	background: #434344;
	.border-radius(5px);
    border: 1px solid #FFFFFF;
    display: none;
    height: 290px;
    position: relative;
    right: 320px;
    top: -8px;
    opacity: 0.96;
    width: 420px;
    font-size: 11px;
    z-index: 100;
    color: #D3D1D1;
    float: left;

	h2{display: none;}

	.list-header{
		background:#333333;
	    border-bottom: 1px solid #2b2a2a;
	    line-height:35px;
	    border-radius: 7px 7px 0 0;
	    padding: 3px 15px 0;

	    a{
	    	padding-right: 25px;
	    		&.active{color: @green;}
	    }

	}

	.list{
	    margin: 15px 0 0 10px;
	    overflow: auto;
	    height: 200px;
	    width: 95%;

    	li{
    		border-bottom: 1px dotted #727171;
		    display: table;
		    margin-bottom: 10px;

		    &.default-message{
		    	font-style: italic;
		    	padding:5px;
		    	width:90%;
		    	line-height: 14px;
		    }

    		div{
    			float: left;
			    line-height: 35px;
			    margin: 0 7px 0 0;

		    	img{
		    		 border: 1px solid #555454;
		    		 .border-radius(5px);
		    	}

				&.name{
					line-height: 13px;
					width: 60px;
					padding-left: 3px;
				}

				.btn{
					font-size: 10px;
				    padding: 8px 7px;
				    text-transform: uppercase;

						&:hover{color:white; background: @darkgray;}
				}
    		}

    		.waiting{
    			background: #F6F6F6;
			    .border-radius(10px);
			    line-height: 14px;
			    padding: 5px 28px;
				width:194px;
				color: #333;
				
				.btn{
					display: inline-block;
					margin:3px 0; 
				}
				
				span{display:block;}
				a{ color: #000; }
    		}
		}
		&.messages{display: none;}
	}

	.view-all{
		font-size: 12px;
	    padding-left: 16px;
	    text-decoration: underline;
	}
}

#send-msg-lightbox{
	.lightbox-title{
		font-size: 18px;
	    height: 27px;
	    padding-top: 3px;
	}

	.container{
		padding: 20px;

			input{
				width: 98%;

				&.txt{
					height: 110px;
    				margin: 8px 0 15px;
    			}
			}

			.btn{
				font-size: 13px;
			    text-transform: uppercase;
			    width: 30px;
			    margin-right: 10px;
			}

	}
}