@import "_colors.less";
@import "_utils.less";

input[type=text],input[type=password], textarea, select{
	border:1px solid #A0A0A0;
	border-radius:5px;
	padding:3px;
	height:40px;
	font-size:15px;
	.transition;
}

input:focus, textarea:focus{
	outline:none;
	border-color:@green; 
	.box-shadow(0px 0px 15px @green;
}

form *.error{
	border-color:#f00;
	background: #ffeded;
	.box-shadow(0px 0px 15px rgba(255, 83, 83, 0.72));
}