@import "_colors.less";
@import "_utils.less";

#container{
	width: 800px; 
	padding-left: 20px;

	h2{
		.light;
		strong{.normal;}
	}
}
#cover-photo{
	width:100%;
	height:370px;
	background: #e5e5e5 url(http://lasbandas.s3.amazonaws.com/site/default-coverphoto.gif) no-repeat center 70px;
	position: relative;
	text-align: center;
	overflow: hidden;
	padding-top: 5px;

	.change-cover-photo{
		color: @textcolor;
		font-size: 16px;
		font-family: Dosis;
		top:225px;
		left:405px;
		position: absolute;
		.transition;
	}

	&.with_photo{
		.change-cover-photo{
			opacity: 0;
			bottom: 15px;
			right: 15px;
			top:auto;
			left:auto;
		}

		&:hover{
			.change-cover-photo{opacity: 1;}
		}
	}
}

.can-edit .editable{cursor:pointer;}

#user-header{
	margin-left:20px;
	position: absolute;
	bottom: 0px;
	@fotosize:90px;
	text-align: left;
		
	#profile-photo{
		width:@fotosize;
		height:@fotosize;
		background:url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll 15px -205px #FFFFFF;
		border-radius: 5px;
		border: 3px solid #FFFFFF;
		text-align: center;
		img{
			max-width: 90px;
			max-height: 90px;
		}

		&:hover{
			a{opacity: 1;}
		}

		a{
			display: block;
			color: #fff;
			position: absolute;
			bottom: 0px;
			background: @green;
			width: @fotosize;
			text-align: center;
			border-radius: 0 0 5px 5px;
			padding:3px 0;
			opacity: 0;
			.transition;

			&:hover{
				background:darken(@green, 10%);
			}
		}
	}
	
	h1{
		background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll 0 -1px transparent;
		margin:@fotosize - 35px 0 0 10px;
		padding-left: 35px;
		width:400px;

	}
} 

#complete-subscription{
	border-radius:4px;
	background: @darkgray;
	margin:20px 20px 20px 0;
	padding:15px 0 15px 30px;
	color:#fff;
	width: 750px;

	.attention{
		color:#e93b58;
		.semibold;
		font-size:18px;
		margin-bottom:10px;
	}

	.musician-info{
		width:365px;
		margin-right: 40px;

			label{
				background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-icons-instruments.png) no-repeat scroll 0 0 transparent;
			    display: block;
			    float: left;
			    font-size: 11px;
			    height: 53px;
			    line-height: 140px;
			    margin: 0 0 30px 7px;
			    text-align: center;
			    width: 53px;
			    border-radius:5px;
			    .transition;
			    	&.guitarra	 {background-position: 0 0}
			    	&.bateria 	 {background-position: 0 -62px;}
			    	&.teclado	 {background-position: 0 -123px;}
			    	&.saxofone	 {background-position: 0 -184px;}
			    	&.sanfona	 {background-position: 0 -244px;}
			    	&.voz 	 	 {background-position: 0 -305px;}
			    	&.cavaquinho {background-position: 0 -367px;}
			    	&.violoncelo {background-position: 0 -428px;}
			    	&.piano		 {background-position: 0 -489px;}
			    	&.violao	 {background-position: 0 -550px;}
			    	&.pickup	 {background-position: 0 -611px;}
			    	&.plus		 {background-position: 0 -611px;}
			    	&.active{
			    		background-position-x:-71px;
			    		.box-shadow(0px 0px 15px @green);
			    	}
			    	input{display: none;}
			}
	}

	.personal-info{
		width:300px;
		font-size: 14px;

		label{
			color:@green;
			line-height: 30px;
		}

		span{
			display:inline-block;
			min-width: 100px;
			padding-bottom:3px;
		}

		.musical-style{
			label{
				background: url(http://lasbandas.s3.amazonaws.com/site/bg-musical-style.jpg) repeat-x scroll center top #363636;
			    border: 1px solid #262525;
			    box-shadow: 0 1px 0 #4A4A4A;
			    .border-radius(3px);
			    color: white;
			    display: inline-block;
			    font-size: 11px;
			    height: 13px;
			    line-height: 13px;
			    margin-right: 5px;
			    padding: 5px;
			    text-shadow: 1px 1px 0 #313131;

			    input{
			    	vertical-align: middle;
			    }
			}
		}
	}
}

.modules{
	display: inline-block;
    padding-bottom: 20px;

	.about {
		width: 375px;

			.about-you{
				background: transparent;
			    min-height: 125px;
			    overflow: hidden;
			    width: 375px;
			    margin:10px 0 0 10px;
			}
	}

	#all-media {
		margin-left: 52px;
		height: 135px;
			a{
				background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll 0 0 transparent;
				width: 120px; 
				height: 85px;
				color: #000;

					&.pictures 	{background-position: 0 -417px;}
					&.movies	{background-position: 0 -315px;}
					&.bands     {background-position: 0 -417px;}

					.title{
						 background: none repeat scroll 0 0 #97B62F;
					    display: block;
					    margin: 82px 0 0 2px;
					    padding: 5px;
					    width: 100px;
					}
			}
			
	}

	.status {
		margin-bottom: 30px;
	    margin-right: 45px;
	    width: 370px;

		.self-assessment{
			background: url(http://lasbandas.s3.amazonaws.com/site/textura-inner.jpg) repeat scroll 0 0 #383b3b;
			.border-radius(7px);
			color: white;
			height: 131px;
			margin-top: 10px;
			padding: 20px 0;
			font-size: 14px;

			.skills{
				line-height: 27px;
    			list-style: none outside none;
    			margin-left: 15px;

				span:first-child{
					display: inline-block;
				    font-size: 12px;
				    text-align: left;
				    width: 115px;
				    background: none;
				}
				span{ 
					background: #142010;
					display: inline-block;
					height: 19px;
					vertical-align: middle;
					.border-radius(5px);
				}
				.bar{
					background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-status.png) no-repeat 2px 0 #142010;
				    margin-left: 15px;
				    text-align: left;
				    width: 177px;
				    position:relative;
				    padding-left:5px;
				    .transition;


				    .filled{
				    	background: @green;
				    	width:50%;
				    	height:6px;
				    	font-size: 1px;
				    	margin-top:5px;
				    	.transition(.3s, width);
				    }

				    .bar-marker{
				    	background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-status.png) no-repeat -5px -37px transparent;
				    	width:11px;
				    	height:11px;
				    	position:absolute;
				    	cursor: pointer;
				    	left:50%;
				    	margin-left:-5px;
				    }
				}

				.on-off{ margin:0 0 5px 3px; }

				.inactive{
    				.bar{
    					opacity:0.3;
    					.filled{width: 0!important;}
    					.bar-marker{display:none;}
    				}
    			}
			}
		}
	}
	.mysound{
		width: 370px;
			.soundcloud{
				background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll 125px -615px #F78910;
			    .border-radius(7px);
			    height: 170px;
			    line-height: 235px;
			    margin-top: 10px;
			    padding-left: 10px;

				a{
					color: white;
				    font-size: 20px;
				    text-decoration: underline;
				    width: 60px;
				}
			}
	}

	.myequipaments{
		width: 370px;
		margin-right: 45px;

			a{
				&.add{
					background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll -90px -540px transparent;
				    display: block;
				    margin-top: 20px;
				    padding: 20px 20px 20px 55px;
				}
			}
	}

	.influences{
		textarea{
			background: none repeat scroll 0 0 #504F50;
			.border-radius(7px);
		    color: white;
		    font-size: 20px;
		    height: 115px;
		    margin-top: 20px;
		    padding: 20px;
		    width: 330px;
		}
	}
}

#lb-lightbox-avatar {
	
}

.advertising{
	background: none repeat scroll 0 0 white;
	border-radius: 3px;
	color: @darkgray;
    margin-top: 20px;
    min-height: 640px;
    padding: 10px;
    width: 120px;
    .light;

    	h2{
    		background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll 0 -34px transparent;
		    font-size: 14px;
		    padding-left: 35px;
		    text-transform: uppercase;
    	}
}