@import "_colors.less";
@import "_utils.less";

#cover-photo{
	width:100%;
	height:370px;
	background: #e5e5e5 url(https://lasbandas.s3.amazonaws.com/site/default-coverphoto.gif) no-repeat center 30px;
	position: relative;
	text-align: center;
	overflow: hidden;

	.change-cover-photo{
		color: @textcolor;
		font-size: 15px;
		font-family: Dosis;
		top:200px;
		left:405px;
		position: absolute;
		.transition;
	}

	&.with_photo{
		.change-cover-photo{
			opacity: 0;
			bottom: 15px;
			right: 15px;
			top:auto;
			left:auto;
		}

		&:hover{
			.change-cover-photo{opacity: 1;}
		}
	}
}

.can-edit .editable{cursor:pointer;}

#user-header{
	margin-left:20px;
	position: absolute;
	bottom: 0px;
	@fotosize:90px;
	text-align: left;
		
	#profile-photo{
		width:@fotosize;
		height:@fotosize;
		background:url("https://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png") no-repeat scroll 15px -205px #FFFFFF;
		border-radius: 5px;
		text-align: center;
		img{
			max-width: 90px;
			max-height: 90px;
		}

		&:hover{
			a{opacity: 1;}
		}

		a{
			display: block;
			color: #fff;
			position: absolute;
			bottom: 0px;
			background: @green;
			width: @fotosize;
			text-align: center;
			border-radius: 0 0 5px 5px;
			padding:3px 0;
			opacity: 0;
			.transition;

			&:hover{
				background:darken(@green, 10%);
			}
		}
	}
	
	h1{
		background: url("https://lasbandas.s3.amazonaws.com/site/sprite-icons.png") no-repeat scroll 0 -1px transparent;
		margin:@fotosize - 30px 0 0 10px;
		padding-left: 35px;
		width:400px;

	}
} 

#complete-subscription{
	border-radius:4px;
	background: @darkgray;
	margin:20px;
	padding:15px 0 15px 30px;
	color:#fff;
	width: 750px;

	.attention{
		color:#e93b58;
		.semibold;
		font-size:18px;
		margin-bottom:10px;
	}

	.musician-info{
		width:365px;
		margin-right: 40px;

			label{
				background: url("https://lasbandas.s3.amazonaws.com/site/lb-sprite-icons-instruments.png") no-repeat scroll 0 0 transparent;
			    display: block;
			    float: left;
			    font-size: 11px;
			    height: 53px;
			    line-height: 140px;
			    margin: 0 0 30px 7px;
			    text-align: center;
			    width: 53px;
			    	&.Guitarra	 {background-position: 0 0}
			    	&.Bateria 	 {background-position: 0 -62px;}
			    	&.Teclado	 {background-position: 0 -123px;}
			    	&.Saxofone	 {background-position: 0 -184px;}
			    	&.Sanfona	 {background-position: 0 -244px;}
			    	&.Canto 	 {background-position: 0 -306px;}
			    	&.Cavaquinho {background-position: 0 -367px;}
			    	&.Violoncelo {background-position: 0 -428px;}
			    	&.Piano		 {background-position: 0 -489px;}
			    	&.Pickup	 {background-position: 0 -550px;}
			    	&.plus		 {background-position: 0 -611px;}
			    	input{display: none;}
			}
	}

	.personal-info{
		width:300px;
		font-size: 14px;

		label{
			color:@green;
			line-height: 30px;
		}

		input{
			background: none repeat scroll 0 0 #2E2E2E;
		    border: 0 none;
		    color: white;
		 }
	}
}
.about {
		width: 375px;
		margin-left: 20px;


			textarea{
				background: none repeat scroll 0 0 transparent;
			    border: 0 none;
			    min-height: 125px;
			    overflow: hidden;
			    width: 375px;
			}
}

#all-media {
	margin-right: 13px;
		a{
			background: url("https://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png") no-repeat scroll 0 0 transparent;
			width: 120px; 
			height: 85px;
			color: #000;

				&.pictures 	{background-position: 0 -417px;}
				&.movies	{background-position: 0 -315px;}
				&.bands     {background-position: 0 -417px;}

				.title{
					 background: none repeat scroll 0 0 #97B62F;
				    display: block;
				    margin: 82px 0 0 2px;
				    padding: 5px;
				    width: 100px;
				}
		}
		
}

.advertising{
	background: none repeat scroll 0 0 white;
	border-radius: 3px;
	color: @darkgray;
    margin-top: 20px;
    min-height: 640px;
    padding: 10px;
    width: 120px;
    .light;

    	h2{
    		background: url("https://lasbandas.s3.amazonaws.com/site/sprite-icons.png") no-repeat scroll 0 -34px transparent;
		    font-size: 14px;
		    padding-left: 35px;
		    text-transform: uppercase;
    	}
}