@import "_colors.less";
@import "_utils.less";

#container{
	width: 800px; 
	padding-left: 20px;

	h2{
		.light;
		strong{.normal;}
	}
}
#cover-photo{
	width:100%;
	height:370px;
	background: #e5e5e5 url(http://lasbandas.s3.amazonaws.com/site/default-coverphoto.gif) no-repeat center 70px;
	position: relative;
	text-align: center;
	overflow: hidden;
	padding-top: 5px;

	.change-cover-photo{
		color: @textcolor;
		font-size: 16px;
		font-family: Dosis;
		top:225px;
		left:405px;
		position: absolute;
		.transition;
	}

	&.with-photo{
		.change-cover-photo{
			opacity: 0;
			bottom: 15px;
			right: 15px;
			top:auto;
			left:auto;
		}

		&:hover{
			.change-cover-photo{opacity: 1;}
		}
	}
	.invite-me{
		background: #000;
		.border-radius(3px);
		color: #FFFFFF;
	    font-size: 16px;
	    padding: 0 15px;
	    position: absolute;
	    right: 30px;
	    top: 270px;

	    	.highlight{
	    		margin-right: 5px;
	    	}
		    &:hover{
		    	background:@green;
		    	color: white;
		    	.transition;
		    }
	}
}

.can-edit .editable{cursor:pointer;}

#user-header{
	margin-left:20px;
	position: absolute;
	bottom: 0px;
	@fotosize:90px;
	text-align: left;
		
	#profile-photo{
		width:@fotosize;
		height:@fotosize;
		background:url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll 15px -205px #FFFFFF;
		border-radius: 5px;
		border: 3px solid #FFFFFF;
		text-align: center;
		img{
			max-width: 90px;
			max-height: 90px;
		}

		&:hover{
			a{opacity: 1;}
		}

		a{
			display: block;
			color: #fff;
			position: absolute;
			bottom: 0px;
			background: @green;
			width: @fotosize;
			text-align: center;
			border-radius: 0 0 5px 5px;
			padding:3px 0;
			opacity: 0;
			.transition;

			&:hover{
				background:darken(@green, 10%);
			}
		}
	}
	
	h1{
		background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll 0 -1px transparent;
		margin:@fotosize - 35px 0 0 10px;
		padding-left: 35px;
		.complement{.normal;}
	}
} 

#myPanel{
	.border-radius(4px);
	background:#434343;
    color: #FFFFFF;
    margin: 20px 0 30px;
    padding: 15px 20px;
    width: 738px;
    .light;

    	a{color: white; text-decoration: underline;}
		.title{font-size: 18px;}
		.add-band{
			height: 25px;
			background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat 375px -753px #2a2a2a;
			border: 1px solid #4c4c4c;
			.border-radius(5px);
			padding: 10px 15px 15px;
			margin: 10px 0;
			color: #FFFFFF;

				p{font-size: 18px; .normal}
				.btn{
					font-size: 14px;
				    padding-left: 25px;
				    padding-right: 25px;
				    .bold;
				    text-transform: uppercase;
				    display: inline-block;
				    text-decoration: none;
				}
		}
		.hd{
			background:#6F6F6F;
			.border-radius(4px);
    		padding: 5px;
    		margin-bottom: 15px;
		}

		.more{
			font-size: 12px;
		    text-transform: uppercase;
		    width: 100%;
		    margin-top: 5px;
		    .bold;
		}
		.related-musicians{
			.thumb{
				background:url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll -4px -217px #FFFFFF;
				width: 50px; 
				height: 50px; 
				margin-right: 15px;
			}
			.description{width: 270px; margin-bottom: 5px;}
		}
		/*.inner{display:none;}*/
}

#complete-subscription{
	.border-radius(4px);
	background:#434343;
	padding:15px 0 15px 20px;
	color:#fff;
	width: 760px;
	margin-bottom: 30px;

	.attention{
		.light;
		color: #E93B58;
	    font-size: 18px;
	    font-weight: normal;
	    margin-bottom: 20px;
	}

	a{
		color: white;
    	text-decoration: underline;
    	margin-right: 20px;
	}

	.born-celebrity {
		background: #606060;
		.border-radius(3px);
		.bold;
		color: white;
	    clear: both;
	    display: none;
	    font-size: 14px;
	    padding: 10px;
	    text-align: center;
	    text-transform: uppercase;
	    width: 720px;

	    	#same-year-as{
	    		color:@green; 
	    		font-size: 18px;
	    		padding-left: 5px;
	    	}
	}

	.musician-info{
		width:380px;
		margin-right: 18px;

		.box-label{
			background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-icons-instruments.png) no-repeat scroll 0 -732px transparent;
			.light;
		    .border-radius(5px);
		    float: left;
		    font-size: 11px;
		    line-height: 140px;
		    margin: 0 0 30px;
		  	padding-right:7px;
		    text-align: center;
				&:hover{background-position: 0 -793px;}
		}
		
		.icons-instruments{
			background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-icons-instruments.png) no-repeat scroll 0 0 transparent;
			display: block;
			line-height: 140px;
			height: 53px;
			width: 53px;

		    	&.guitarra  {background-position: 0 0;}
		    	&.bateria   {background-position: 0 -62px;}
		    	&.teclado   {background-position: 0 -123px;}
		    	&.saxofone  {background-position: 0 -184px;}
		    	&.sanfona   {background-position: 0 -244px;}
		    	&.vocal     {background-position: 0 -305px;}
		    	&.cavaquinho{background-position: 0 -367px;}
		    	&.baixo     {background-position: 0 -428px;}
		    	&.piano     {background-position: 0 -489px;}
		    	&.violao    {background-position: 0 -550px;}
		    	&.pickup    {background-position: 0 -611px;}
		    	&.plus	    {background-position: 0 -671px; text-indent: -9999px;}
		    	&.active    {.box-shadow(0px 0px 15px @green);}
		    	input{display: none;}
		}
	}

	.personal-info{
		width:300px;
		font-size: 14px;

		a{ 
			color: white;
    		font-size: 12px;
    		text-decoration: underline;
    	}

		label{
			color:@green;
			line-height: 30px;
		}

		span{
			display:inline-block;
			padding-bottom:3px;
		}

		
		#born{
			font-size: 12px;
    		width: 150px;
    		height: 20px;
		}
		#cep {
			margin-bottom: 10px;

			input{
				border: 0 none;
			    .border-radius(3px);
			    font-size: 20px;
			    height: 30px;
			    margin-left: 7px;
			    padding: 0 5px 0 10px;
			    width: 35%;
			}
			a{
				float: right;
			    padding-right: 30px;
			    padding-top: 8px;
			}
		}
	}
	&.public{
		padding: 0;
		width: 780px;

		ul{
			margin: 0;
			width: auto;
			max-width: 540px;

				li{
					color: white;
				    display: inline-block !important;
				    font-size: 16px;
				    line-height: 53px !important;
				    padding: 0 10px 0 45px;
				    .semibold;
				    text-transform: uppercase;
				    width: auto!important;
				}
		}
		.personal-info {
		    padding: 14px 0 0 25px;
		    text-transform: uppercase;
		    width: auto;
		}
	}
}

.modules{
	display: inline-block;
    padding-bottom: 20px;

	.about {
		width: 375px;

			.about-you{
				background: none repeat scroll 0 0 transparent;
			    border: 0 none;
			    height: auto;
			    line-height: 20px;
			    margin: 10px 0 0 10px;
			    min-height: 125px;
			    overflow: hidden;
			    width: 375px;
			}
	}

	#all-media {
		margin-left: 35px;
		height: 135px;
			a{
				background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll 0 0 transparent;
				width: 129px; 
				height: 85px;
				color: #000;

					&.pictures 	{background-position: 0 -417px;}
					&.movies	{background-position: 0 -315px;}
					&.bands     {background-position: 0 -417px;}

					.title{
						background: none repeat scroll 0 0 #97B62F;
					    display: block;
					    margin: 82px 0 0 2px;
					    padding: 5px;
					    width: 100px;
					}
			}
			
	}

	.status {
		margin-bottom: 30px;
	    margin-right: 18px;
	    width: 395px;

		.self-assessment{
			background: url(http://lasbandas.s3.amazonaws.com/site/textura-inner.jpg) repeat scroll 0 0 #383b3b;
			.border-radius(7px);
			color: white;
			height: 131px;
			margin-top: 10px;
			padding: 20px 0;
			font-size: 14px;

			.skills{
				line-height: 27px;
    			list-style: none outside none;
    			margin-left: 15px;

				span:first-child{
					display: inline-block;
				    font-size: 12px;
				    text-align: left;
				    width: 115px;
				    background: none;
				}
				span{ 
					background: #142010;
					display: inline-block;
					height: 19px;
					vertical-align: middle;
					.border-radius(5px);
				}
				.bar{
					background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-status.png) no-repeat 2px 0 #142010;
				    margin-left: 15px;
				    text-align: left;
				    width: 177px;
				    position:relative;
				    padding-left:5px;
				    .transition;

				    &.disabled{
				    	opacity: 0.4;
				    	.filled{ display:none; }
				    }

				    .filled{
				    	background: @green;
				    	width:50%;
				    	height:6px;
				    	font-size: 1px;
				    	margin-top:5px;
				    	.transition(.3s, width);
				    }

				    .rating{
				    	background: #162112;
					    .border-radius(5px);
					    font-size: 12px;
					    height: 20px;
					    margin: -14px -50px 0 0;
					    padding: 0 7px 2px;
					    text-align: center;
					    width: 20px;
				    }

				    .bar-marker{
				    	background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-status.png) no-repeat -5px -37px transparent;
				    	width:11px;
				    	height:11px;
				    	position:absolute;
				    	cursor: pointer;
				    	left:50%;
				    	margin-left:-5px;
				    }
				}

				.on-off{ margin:0 0 5px 3px; }

				.inactive{
    				.bar{
    					opacity:0.3;
    					.filled{width: 0!important;}
    					.bar-marker{display:none;}
    				}
    			}
			}
		}
	}
	.mysound{
		width: 370px;
			.soundcloud, #user-soundcloud-player{
				margin-top: 10px;
			}

			.soundcloud{
				background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll 125px -615px #F78910;
			    .border-radius(7px);
			    height: 170px;
			    line-height: 235px;
			    padding-left: 10px;
			    text-align: center;
			    font-size: 15px;
			    color: #fff;

				a{
					color: white;
				    font-size: 20px;
				    text-decoration: underline;
				    width: 60px;
				}
			}
	}

	.myequipaments{
		width: 370px;
		margin-right: 45px;

			a{
				&.add{
					background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll -90px -540px transparent;
				    display: block;
				    margin-top: 20px;
				    padding: 20px 20px 20px 55px;
				    color: #000;
				    text-decoration: underline;
					font-weight: bold;
				}
			}
	}

	.influences{
		textarea{
			background: none repeat scroll 0 0 #504F50;
		    border: 0 none;
		    box-shadow: none;
		    color: white;
		    font-size: 20px;
		    height: 115px;
		    margin-top: 20px;
		    padding: 20px;
		    width: 330px;
		}
	}
}

#lb-lightbox-avatar {
	.upload-wrapper{
		padding: 40px 60px 60px 85px;

			.upload{
				display:inline-block; 
				position:relative; 
				overflow:hidden; 
				cursor: pointer;
			}
			.action{
				color: white;
				font-size: 20px;
				text-decoration: underline;
				width: 210px;
				height: 40px;
			}
			input{
				cursor:pointer; 
				position:absolute; 
				filter:~'alpha(opacity=0)'; 
				-moz-opacity:0; 
				opacity:0;
				width: 200px;
			}
			.or{
				color: white;
			    font-size: 33px;
			    padding:0 50px 0 50px;
			}
			.send{
			    font-size: 17px;
			    left: 66px;
			    margin-top: 50px;
			    filter:~'alpha(opacity=100)'; 
				-moz-opacity:100; 
				opacity:100;
			    text-transform: uppercase;
			    top: 99px;
			    width: 540px;
			}
	}
}

#lb-lightbox-soundcloud{
	#sound-cloud-url{
		width: 500px;
		margin-right: 10px;
	}

	.preview{
		width:500px;
		height:270px;
		background: #f5f5f5;

		#preview-message-default{
			color:#bdbdbd;
			font:30px arial;
			cursor: default;
			position: absolute;
			top: 255px;
			left: 66px;
		}
	}	
}


.see-all-option{
	width:500px;

	.musical-style {padding:20px;}
	.instruments-play{padding: 20px;}

	label{
		background: url(http://lasbandas.s3.amazonaws.com/site/bg-musical-style.jpg) repeat-x scroll center top #363636;
	    border: 1px solid #262525;
	    .border-radius(3px);
	    box-shadow: 0 1px 0 #4A4A4A;
	    color: white;
	    display: inline-block;
	    font-size: 13px;
	    height: 13px;
	    line-height: 13px;
	    margin-bottom: 17px;
	    margin-right: 17px;
	    padding: 8px 15px;
	    text-shadow: 1px 1px 0 #313131;

	    &.active{.box-shadow(0px 0px 8px @green);background: #2c2c2c;}
	    &:hover{background: #2c2c2c;}

	    input{
	    	vertical-align: middle;
	    	display: none;
	    }
	}

	.lightbox-close{
	    font-size: 15px;
	    height: 30px;
	    margin-bottom: 15px;
	    margin-left: 120px;
	    text-transform: uppercase;
	    width: 250px;
    }
}

#new-band-form{
	.band_name {
		color:#FF6600;
		display: block;
	    font-size: 22px;
	    font-weight: bold;
	    height: 35px;
	    margin: 30px auto 0;
	    text-align: center;
	    text-transform: uppercase;
	    width: 60%;
	}
	.btn{
		display: block;
    	margin: 20px auto 0;
	}
}

.advertising{
	background: none repeat scroll 0 0 white;
	border-radius: 3px;
	color: @darkgray;
    margin-top: 20px;
    min-height: 640px;
    padding: 10px;
    width: 120px;
    .light;

    	h2{
    		background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll 0 -34px transparent;
		    font-size: 14px;
		    padding-left: 35px;
		    text-transform: uppercase;
    	}
}
