@import "_colors.less";
@import "_utils.less";

#content article{
	float:left;
	padding-top:65px;
	&#subscription{
		width:325px;
	}
}

#subscription {
	h2{
		font-size: 30px;
		.semibold;
	}

	input[type=text], input[type=password]{
		width:100%;
		margin-bottom:5px;
		height:40px;
		color: #969494
	}

	input[type=submit]{
		margin-top:10px;
	}
}

#call-to-action {
	width: 355px;
	padding-right: 170px;
	color: white;

	h2{
		font-size: 40px;
		color: #FFFFFF;
		.semibold;
	}
	.higlight{
		font-size: 38px;
		color: #aae32e;
		line-height: 40px;
		.light;
	}
	p{
		font-size: 20px;
		width: 67%;
		.light;
	}
}

#search-musicians {
	background: url(http://lasbandas.s3.amazonaws.com/site/bg-search-musicians.jpg) no-repeat 0 0;
	height: 234px;
	margin-top: 3px;

		.filters{
			li{
				background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-search.png) no-repeat 0 0;
				color: #000000;
			    float: left;
			    font-size: 22px;
			    .semibold;
			    height: 234px;
			    line-height: 420px;
			    list-style: none outside none;
			    text-align: center;
			    width: 300px;

				&.musicians	{background-position: 30px 25px}
				&.bands 	{background-position: 5px -160px}
				&.studios	{background-position: 30px -389px}
			}
		}
}