
@import "_utils.less";

body{
	background:#c8cccb;
}

#logo-big{
	background: url("https://lasbandas.s3.amazonaws.com/site/lp/logo-lb-big.png") no-repeat scroll 0 0 transparent;
    height: 76px;
    left: 225px;
    position: absolute;
    text-indent: -9999px;
    top: 20px;
    width: 223px;
}

#main{
	background:url(https://lasbandas.s3.amazonaws.com/site/lp/header-landing-page.jpg) no-repeat center transparent;
	width:100%;
	height:445px;
}

#content.lp-content{
	height:400px;
	width:960px;
	margin:0 auto ;
	background: url(https://lasbandas.s3.amazonaws.com/site/lp/silhueta.png) no-repeat bottom left;
	padding-top: 45px;

	.fl.what-is{
		width:470px;
		height:650px;

		.what-is-lb{
			margin-top:430px;
			width:360px;
			li{
				font:24px 'Dosis';
				list-style-image: url(https://lasbandas.s3.amazonaws.com/site/lp/marker.png);
				margin-bottom: 20px;
			}
		}
	}

	.fl.subscribe{
		width:490px;
	}
}

#main-message{
	padding:40px 0;

	h2{
		color: #FFFFFF;
	    font-size: 58px;
	    letter-spacing: -2px;
	    line-height: 51px;
	    text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.5);
	}

	h3{
		color: #ffb000;
	    font-size: 43px;
	    font-weight: normal;
	    letter-spacing: -3px;
	    line-height: 41px;
	    padding-top: 10px;
	    width: 70%;
	}
}

#subscription-box{
	background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #e0e0e0;
    border-radius: 10px 10px 10px 10px;
    font-size: 17px;
    padding: 50px 40px 40px;
    position: relative;
    text-transform: uppercase;
    width: 360px;

	.stash-suscribe{
		top:-17px;
		left:-56px;
		position: absolute;
	}

	form{
		label{
			display:block;
			color:#858585;
			font-size: 13px;
			padding: 5px 0 5px 5px;
		}

		input[type=text], select{ 
			margin-bottom:15px; 
			width:97%;
			border:1px solid #e0e0e0;
			border-radius:3px;
			height:30px;
		}

		input[type=submit]{
			width:80%;
			font-family: 'Dosis';
			color:#fff;
			font-size:25px;
			padding:5px 0;
			border:1px solid #a2a2a2;
			border-radius: 6px;
			margin-left:35px;
			.gradient(#fcaf01, #e29d02);
		}
		
	}
}