@import "_colors.less";
@import "_utils.less";


.lightbox-container {
	.normal;

	.lightbox-content{
		.border-radius(10px);
		background: #454545;

			.lightbox-title{
				background: @green;
				.border-radius(10px 10px 0 0);
				font-size: 20px;
			    color: white;
			    height: 35px;
			    padding: 12px 12px 0 25px;
			    .semibold;

			    	p{
			    		background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll 0 -442px transparent; 
			    		padding:0 0 0 35px;
			    	}
			}
	}
	
	.lightbox-close {
		background-image: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png);
		border:none;
		height:15px;
		position:absolute;
		width:15px;
	}

	.lightbox-wrapper{
		background:	#454545;
		.border-radius(10px);
	}

	.tr .lightbox-close-tr{
		background-position: 0 -395px;
	    display: block;
	    height: 41px;
	    outline-width: 0;
	    right: -25px;
	    text-indent: -9999em;
	    top: -21px;
    	width: 41px;
	}

	p{ color:#fff; }
}