@import "_colors.less";
@import "_utils.less";

#album-photos {
	margin-top: 25px;

	li {
		
		list-style: none;

		a{
			background: #2E2E2E;
			 border: 1px dashed #FFFFFF;
			.border-radius(5px);
		    float: left;
		    font-size: 15px;
		    height: 121px;
		    line-height: 125px;
		    text-align: center;
		    text-decoration: underline;
		    text-transform: uppercase;
		    width: 177px;
		    .bold;
		    color: #FFF;
		    .box-shadow(1px 10px 15px #E7E7E7);

		    	&:hover{
		    		background:@green;
		    	}
		}
	}
}

#movies{
	background:#434343;
    .border-radius(8px);
    border-top: 2px solid #e5e5e5;
    margin: 25px 0 0 33px;
    padding: 20px 40px;
    width: 83%;
    color: #FFF;

    	h3{
    		font-size: 18px;
    		.normal;
    		padding-bottom: 20px;
    	}

    	input{
    		.border-radius(6px);
		    font-size: 16px;
		    margin-top: -1px;
		    padding: 3px;
		    color: #bdbdbd;
		    width: 440px;
    	}
    	.btn{font-size: 13px; text-transform: uppercase;}
}