@import "_colors.less";
@import "_utils.less";

.media-container{
	&.with-zoom{
		li{
			opacity: 0.4;
			&.expanded, &.active{ opacity: 1; }
		}
	}
}

#album-photos {
	margin-top: 25px;
	display: table;

	li {
		position:relative;
		list-style: none;
		margin:0 12px 20px 0;
		float:left;
		width: 180px;
		height:147px;

		&.add{
			background: #2E2E2E;
		    border: 1px dashed #FFFFFF;
		    .border-radius(5px);
		    .box-shadow(1px 10px 15px #E7E7E7);
		    .bold;
		    color: #FFFFFF;
		    font-size: 15px;
		    height: 113px;
		    padding-top: 5px;
		    text-align: center;
		    text-decoration: underline;
		    text-transform: uppercase;
		    cursor: pointer;
		    display: block;

	    	&:hover{
	    		background:@green;
	    	}

	    	span{
	    		line-height: 111px;
	    	}
		}

		&.expanded{
			width:700px;
			height:auto;
			padding:25px;
			.border-radius(3px);
			background: @darkgray;

			.legend{
				color: #FFFFFF;
			    float: right;
			    font-size: 20px;
			    height: 15px;
			    padding: 40px;
			    text-align: left;
			    width: 120px;

			    	p{
			    		border-left: 15px solid @green;
					    padding: 5px 0 3px !important;
					    position: relative;

							.background{
								background-color: @green;
								.box-shadow(5px 0 @green);
								color: #FFFFFF;
								padding: 5px 8px 3px 0;
							}
			    	}
			}

			.image{
				width: 500px;
				margin: 0 auto;
				text-align: center;
			}

			.hide-zoom{
			    color: #FFFFFF;
			    cursor: pointer;
			    font-size: 16px;
			    padding: 5px;
			    position: absolute;
			    right: 10px;
			    text-align: center;
			    top: 5px;
			    width: 16px;
			}

			img, iframe{
				max-width: 500px;
				border-radius: 5px;
				vertical-align: middle;
				.box-shadow(2px 2px 15px #000);
			}

			.arrow-container{
				bottom: 25px;
			    height: auto;
			    margin: 0 auto 0 75px;
			    position: absolute;
			    text-align: center;
			    width: 120px;

					.arrow{
						background: url(http://lasbandas.s3.amazonaws.com/site/sprite-bullets.png) no-repeat scroll 0 0 transparent;
						float: left;
					    height: 40px;
					    text-indent: -9999px;
					    width: 40px;
					    cursor: pointer;

							&.next-media{background-position: 0 -134px; margin-left: 10px;}
							&.prev-media{background-position: 0 0;}
					}
			}

		}

		&:hover{
			.remove{ display: block;  }
		}

	}

	.remove{
		background-position: 0 -555px;
	    display: block;
	    height: 30px;
	    position: absolute;
	    right: -10px;
	    text-align: center;
	    text-indent: -9999px;
	    top: -13px;
	    width: 10px;
	}

	.media-gallery{
	    display: block;

		img{ 
			width: 170px; 
			.transition;
			.border-radius(5px);
			border:2px groove #454545;
				
				&:hover{ 
					.box-shadow(2px 2px 10px #000); 
				}
		}
	}

	span.legend{
		margin:5px 5px 5px 5px;
		display:block;

		em{ font-style: italic; }

		&.editable{ cursor:pointer; }
	}

	input[type=file]{
		display:block;
		position: absolute;
		width: 177px;
		height: 121px;
		opacity: 0;
		cursor:pointer;
	}
}


#movies{
	background:#434343;
    .border-radius(8px);
    border-top: 2px solid #e5e5e5;
    margin: 25px 0 0 33px;
    padding: 20px 40px;
    width: 83%;
    color: #FFF;

    	h3{
    		font-size: 18px;
    		.normal;
    		padding-bottom: 20px;
    	}

    	input{
    		.border-radius(6px);
		    font-size: 16px;
		    margin-top: -1px;
		    padding: 3px;
		    color: #bdbdbd;
		    width: 430px;
    	}
    	.btn{font-size: 13px; text-transform: uppercase;}

    	.terms{
    		color: #E5E5E5;
		    display: block;
		    font-size: 9px;
		    margin:15px 0 0 33px;
    	}
}