@import "_colors.less";
@import "_utils.less";

#album-photos {
	margin-top: 25px;
	display: table;

	li {
		background: url(http://lasbandas.s3.amazonaws.com/site/photo-frame.png) no-repeat scroll center 0 transparent;
		position:relative;
		list-style: none;
		margin:0 12px 20px 0;
		float:left;
		width: 180px;
		height: 135px;

			.photo-gallery{
			    display: block;

					img{
						margin: 10px auto 0 16px;
	    				width: 145px;
					}
					
					&:hover{
						opacity: 0.50;
					}

			}

		&.add{
			background: #2E2E2E;
		    border: 1px dashed #FFFFFF;
		    .border-radius(5px);
		    .box-shadow( 1px 10px 15px #E7E7E7);
		    .bold;
		    color: #FFFFFF;
		    font-size: 15px;
		    height: 116px;
		    padding-top: 5px;
		    text-align: center;
		    text-decoration: underline;
		    text-transform: uppercase;
		    cursor: pointer;
		    display: block;

	    	&:hover{
	    		background:@green;
	    	}
		}

		span{
			line-height:121px;
		}

		input[type=file]{
			display:block;
			position: absolute;
			width: 177px;
			height: 121px;
			opacity: 0;
			cursor:pointer;
		}

		.remove{
			background-position: 0 -555px;
		    display: block;
		    height: 30px;
		    position: absolute;
		    right: -10px;
		    text-align: center;
		    text-indent: -9999px;
		    top: -7px;
		    width: 10px;
		}

	}
}

.opened-media{
	position:fixed;
	border:25px solid @defaultgray;
	.border-radius(10px);
	z-index:99;
	top:50%;
	left:50%;
	width:850px;
	height:570px;
	line-height: 570px;
	margin-top:-285px;
	margin-left:-450px;
	background: @defaultgray;
	text-align: center;

	img{
		.border-radius(10px);
		max-width:750px;
		max-height: 550px;
		border:1px solid #e6e6e6;
		vertical-align: middle;
	}

	span{
		position:absolute;
		display: block;
		width:43px;
		height:30px;
		color:#fff;
		cursor: pointer;
		text-align: center;
		line-height: 30px;

		&.close{
			background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) repeat scroll 0 -403px transparent;
		    outline-width: 0;
		    right: -23px;
		    text-indent: -9999em;
		    top: -10px;
		}

		&.prev{
			top:50%;
			left:20px;
		}

		&.next{
			top:50%;
			right:20px;
		}
	}
}

#movies{
	background:#434343;
    .border-radius(8px);
    border-top: 2px solid #e5e5e5;
    margin: 25px 0 0 33px;
    padding: 20px 40px;
    width: 83%;
    color: #FFF;

    	h3{
    		font-size: 18px;
    		.normal;
    		padding-bottom: 20px;
    	}

    	input{
    		.border-radius(6px);
		    font-size: 16px;
		    margin-top: -1px;
		    padding: 3px;
		    color: #bdbdbd;
		    width: 440px;
    	}
    	.btn{font-size: 13px; text-transform: uppercase;}

    	.terms{
    		color: #E5E5E5;
		    display: block;
		    font-size: 9px;
		    margin:15px 0 0 33px;
    	}
}