@import "_colors.less";
@import "_utils.less";

.message_box {
	font-size: 13px;
	position: fixed;
	top: 50px;
	z-index: 9;
	width: 100%;
	background: white;
	margin: 0 auto;
	.normal;
	font-size: 14px;

		.message_inner {
			width: 500px;
			margin: 0 auto;
			padding: 15px;

			.ico {
				background: url(http://lasbandas.s3.amazonaws.com/site/sprite-message-box.png) no-repeat 0 0 transparent;
				display: block;
				height: 45px;
				width: 70px;
				float:left;
			}

			.text{float:left;}
		}

	&.error{
		border-bottom: 3px solid #FA4747;
    	border-top: 3px solid #FA4747;

    		.ico{background-position: 0 -55px;}
    		.text{color: #688b3e; padding-top: 12px;

	&.success{
		border-bottom: 3px solid #acd769;
    	border-top: 3px solid #acd769;

    		.ico{background-position: 0 0;}
    		.text{color: #FA4747; padding-top: 12px;}
	}

	.close {
		background:#333333;
	    .border-radius(45px);
	    color: white;
	    cursor: pointer;
	    font-size: 12px;
	    font-weight: bold;
	    height: 6px;
	    line-height: 6px;
	    padding: 10px;
	    position: absolute;
	    right: 20px;
	    text-align: right;
	    top: 12px;
	    width: 7px;
	}
}