@import "_colors.less";
@import "_utils.less";

.message_box {
	font-size: 13px;
	position: fixed;
	top: 50px;
	z-index: 9;
	width: 100%;
	background: white;
	margin: 0 auto;

		.message_inner {
			width: 500px;
			margin: 0 auto;

			.ico {
				background: url(http://lasbandas.s3.amazonaws.com/site/sprite-message-box.png) no-repeat 0 0 transparent;
				display: block;
				height: 45px;
				width: 45px;
				float:left;
			}

			.text{float:left;}
		}

	&.error{
		background: url(http://lasbandas.s3.amazonaws.com/site/sprite-message-box.png) no-repeat 0 0 white;
	}
}


.message_box.warning .message_inner .ico {
	background-position: 0 -97px;
}

.message_box.error .message_inner .ico {
	background-position: 0 -48px;
}

.message_box.warning,.message_box.warning .message_inner {
	background-image:
		url(http://image.buscape.com/bui-bp7/bg-message-box-warning.png);
}

.message_box .close {
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	text-align: right;
	right: 20px;
	top: 13px;
}

.message_box.success .close {
	color: #7cab71;
}

.message_box.success .warning {
	color: #f7d85c;
}

.message_box.success .error {
	color: #f46c70;
}

.message_box .message_inner {
	background-position: left bottom;
	margin-top: 10px;
	padding: 5px 20px 15px 20px;
}

.message_box .highlight,.message_box a {
	font-weight: bold;
}
