@import "_colors.less";
@import "_utils.less";

#bands-musician{
	list-style: none outside none;
	margin: 30px;
	.semibold;

		li{
			margin-bottom: 20px;	

			a:hover img{
				filter:~'alpha(opacity=0.50)'; 
	  			-moz-opacity:0.50;   				
	  			opacity:0.50;
			}
		}

		.name-band {
			background:@green;
			.border-radius(0 5px 5px 0);
		    color: white;
		    font-size: 18px;
		    margin: 75px 0 0 12px;
		    padding: 5px 15px;
		    position: absolute;
		    width: 20%;
		    text-align: right;
		    text-transform: uppercase;

		    	span{
		    		text-transform: lowercase;
		    		color: #333;
		    	}
		}

		img{
			background: url(http://lasbandas.s3.amazonaws.com/site/default-coverphoto.gif) no-repeat scroll center -14px #E5E5E5;
			border: 2px solid #FFFFFF;
		    .border-radius(5px);
		    height: 130px;
		    margin-left: 10px;
		    width: 744px;
			margin-left: 10px;
			display: block;
		}

		.btn{
		    margin-left: 10px;
		    font-size: 15px;
		    text-align: center;
		    width: 688px;
		    height: 27px;
		    line-height: 30px;
		    text-transform: uppercase;
		}
}