@import "_colors.less";
@import "_utils.less";

#cover-photo{
	#user-header {
		h1{
			margin: 0;
			height: 38px; 
			font-size: 30px; 
			.bold;
			line-height: 28px;
		}
		span{.light; font-size: 24px;}
	}
}


.modules{
	margin-top: 20px;
	
	.about{
		height: 340px;
		.about-you {height: 340px;  margin: 0 10px;}
	}

	.mysound {margin-left: 35px;}
	.band-members{
		margin-right: 20px;
    	width: 390px;

		.members{
			 margin: 20px 0;

			li{
			    background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll 14px -205px #FFFFFF;
			    .border-radius(10px);
			    border:1px solid #cccccc;
			    display: inline-table;
			    height: 90px;
			    margin-right: 10px;
			    width: 90px;
			    float: left;

			    &.last {margin-right: 0;}

			    img{
					width:90px; 
					height: 90px;
			    }

			    a{
			    	float: left;
				    .light;
				    font-size: 14px;
				    line-height: 16px;
				    position: absolute;
				    text-align: left;
				    width: 87px;
				    color:@textcolor;

					&.without-avatar{ padding-top:100px; }

				    img{ .border-radius(7px); }
			    }

			    &.pending{
			    	opacity: 0.35;

			    		span{color: @red;}
			    }

			    strong{
			    	color: #8BBD0C;
				    font-size: 12px;
				    font-weight: bold;
				    text-transform: uppercase;
			    }
			}

		a.add{
				background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll -85px -542px transparent;
			    color: #000000;
			    display: block;
			    font-weight: bold;
			    margin-left: 20px;
			    margin-top: 12px;
			    padding: 50px 20px 20px 0;
			    text-align: center;
			    text-decoration: underline;
			    width: 30px;

			    &:hover{color:#97B62F;}
			}
		}
	}
}

#band-looking {
	background: #FFF9DD;
    border: medium none #DEDEDE;
    .border-radius(8px);
    color: #5D5D59;
    font-size: 12px;
    line-height: 17px;
    margin-top: 20px;
    padding: 20px;
    width: 740px;

    	.choose-instrument{
    		width: 360px;


		    	h3{
		    		background: #6f6f6f;
		    		.border-radius(3px);
		    		font-size: 16px;
		    		.light;
		    		color: #FFF;
		    		padding: 7px 0 7px 15px;
		    		width: 337px;
		    		margin-bottom: 10px;

		    			.active{
		    				color: @green; 
		    				.semibold;
		    				font-size: 16px;
		    				text-transform: uppercase;
		    			}
		    	}
    	}

    	.info-job{
    		margin: 0 0 15px 8px;
    		width: 360px;
    	}

    	.subtitle{
    		font-size: 16px;
    		padding-left: 35px;
    		line-height: 25px;
    		.semibold;
    		text-transform: uppercase;
    	}

    	p{margin:10px 0 30px;}

    	span{
		    font-size: 14px;
		    font-weight: bold;
		    margin: 15px 20px 0 0;
    	}
    	.close{
    		background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll 0 -505px transparent;
		    display: block;
		    height: 41px;
		    outline-width: 0;
		    position: absolute;
		    right: 375px;
		    text-indent: -9999em;
		    top: 487px;
		    width: 30px;
    	}

    	&.edit{
    		background: #434343;

    		.toggle-button{    
    			color: white;
    			margin-right: 20px;
    			text-decoration: underline;
			}

    		h2{
    			color: #FFFFFF;
			    font-size: 18px;
			    margin-bottom: 30px;
    		}

    		.input{
    			border: 1px solid lightGrey !important;
			    .border-radius(3px);
			    color: #000000;
			    float: left;
			    font-size: 14px;
			    height: 20px;
			    padding: 4px 5px;
			    transition: all 0.2s ease 0s;
			    width: 100%;
			    margin: 0 0 12px;

			    	&.adTxt{
			    		padding-bottom: 130px;
			    	}
    		}

    		.btn{
    			height: 30px;
			    padding-top: 0;
			    width: 100%;
    		}
    	}

    .already-candidated	{
	    	background: #9F5570;
		    .border-radius(5px);
		    color: white;
		    font-family: dosis;
		    font-size: 16px;
		    font-weight: 500;
		    margin: 20px 0 0;
		    padding: 10px 0 10px 15px;
		    width: 98%;

		    	.name{
		    		text-transform: uppercase;
		    		font-size: 16px;
		    		
		    	}
    	}
}

#add-musician-lightbox {
	.container{
		padding: 20px;

		input{
			padding: 10px 5px 9px 10px;
			border: none;
			.border-radius(5px);
    		width: 60%;
		}

		.btn{
	    	height: 37px;
		    padding-top: 5px;
		    text-transform: uppercase;
		    width: 190px;

		    	&.fb{
		    		background-image: linear-gradient(to bottom, #1364C8, #0D54AB);
		    	}
		}

		.results{
			display: table;
		    padding: 15px 0 0;
		    width: 100%;

			li{
				clear: both;
			    color: @green;
			    display: table;
			    list-style: none outside none;
			    margin-bottom: 10px;

			    	.avatar{
			    		background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll -121px -231px #FFFFFF;
			    		.border-radius(40px);
						width: 50px; 
						height: 50px;

						img{
							.border-radius(40px);
							width: 50px; 
							height: 50px;
						}
			    	}
					
					.name{
						font-size: 16px;
					    line-height: 20px;
					    padding: 15px 0 0 15px;
					    width: 125px;
					}

					.button{
						padding: 18px 0 0 20px;
					}

			}

			.add{
				font-size: 14px;
			    margin-top: 12px;
			    padding: 5px 10px;
			    width: 70px;
			}
		}
	}

	h3{
		color: #FFF;
		.normal;
		font-size: 22px;
		margin: 10px 0 10px;
	}

	.what-play {
		display: block;
	    margin: 0 auto;
	    width: 70%;

			.other-option{
				color: white;
				font-size: 18px;
				.light;
				margin: 25px 0 20px;
			}

			.instruments{
				display: table;
				margin: 0 30px 0 40px;
				width: 400px;

					input{margin: 20px 0;}
			}
	}
}