@import "_colors.less";
@import "_utils.less";

#cover-photo{
	#user-header {
		h1{
			margin: 0;
			height: 38px; 
			font-size: 30px; 
			.bold;
			line-height: 28px;
		}
		span{.light; font-size: 24px;}
	}
}


.modules{
	margin-top: 20px;
	
	.about{
		height: 340px;
		.about-you {height: 340px;  margin: 0 10px;}
	}

	.mysound {margin-left: 35px;}
	.band-members{
		margin-right: 20px;
    	width: 390px;

		.members{
			 margin: 20px 0;

			li{
			    background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll 14px -205px #FFFFFF;
			    .border-radius(10px);
			    border:1px solid #cccccc;
			    display: inline-table;
			    height: 92px;
			    margin-right: 10px;
			    width: 85px;
			    float: left;

			    &.last {margin-right: 0;}

			    img{
					width:85px; 
					height: 92px;
			    }

			    a{
			    	float: left;
				    .light;
				    font-size: 14px;
				    line-height: 16px;
				    position: absolute;
				    text-align: left;
				    width: 87px;
				    color:@textcolor;

					&.without-avatar{ padding-top:100px; }

				    img{ .border-radius(7px); }
			    }
			}

		a.add{
				background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll -85px -542px transparent;
			    color: #000000;
			    display: block;
			    font-weight: bold;
			    margin-left: 20px;
			    margin-top: 12px;
			    padding: 50px 20px 20px 0;
			    text-align: center;
			    text-decoration: underline;
			    width: 30px;

			    &:hover{color:#97B62F;}
			}
		}
	}
}

#band-looking {
	background:#FFF9DD;
	color:#fff;
    border:#DEDEDE;
    .border-radius(8px);
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    padding: 20px;
    width: 740px;

    	.title{
    		background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll 0 -34px transparent;
    		font-size: 16px;
    		font-weight: bold;
    		padding-left: 35px;
    	}
    	p{margin:10px 0 20px;}
    	span{
		    font-size: 14px;
		    font-weight: bold;
		    margin-top: 15px;
    	}
    	.close{
    		background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icons.png) no-repeat scroll 0 -505px transparent;
		    display: block;
		    height: 41px;
		    outline-width: 0;
		    position: absolute;
		    right: 375px;
		    text-indent: -9999em;
		    top: 487px;
		    width: 30px;
    	}

    	&.edit{
    		background: #434343;

    		a{    
    			color: white;
    			margin-right: 20px;
    			text-decoration: underline;
			}

    		h2{
    			color: #FFFFFF;
    		}

    		input{
    			border: 1px solid lightGrey !important;
			    .border-radius(3px);
			    color: #000000;
			    float: left;
			    font-size: 14px;
			    height: 25px;
			    padding: 4px 5px;
			    transition: all 0.2s ease 0s;
			    width: 90%;
			    margin: 10px 0 0 35px;

			    	&.adTxt{
			    		padding-bottom: 90px;
			    	}
    		}
    	}
}

#setlist{
	margin-top: 25px;

		h3{
		    font-size: 18px;
		    .normal;
		    padding-bottom: 10px;
    	}

		.box{
			background: #434343;
		    .border-radius(8px);
		    border-top: 2px solid #E5E5E5;
		    color: #FFFFFF;
		    margin: 25px 0 0 33px;
		    padding: 20px 40px;
		    width: 83%;

		    	input{
				    .border-radius(6px);
				    color: #BDBDBD;
				    font-size: 16px;
				    height: 30px;
				    width: 483px;
		    	}

		    	.btn{
		    		color: white;
				    text-transform: uppercase;
				    width: 160px;
				    height: 39px;
		    	}
		}

		.list-music{
			font-size: 14px;
		    line-height: 22px;
		    list-style:decimal outside none;
		    color: #6c941d;
		    margin: 30px 0 0 60px;

		    	span{color: @darkgray;}

		    	.item-list{
		    		float: left;
    				width: 350px;
		    	}
		}

		.add-list-music{
			margin-left: 35px;

			.all-list{
				height: 400px;
			    overflow-y: scroll;
			    width: 735px;
			}

			.save-list{
				float: right;
			    font-size: 14px;
			    margin: 15px 22px 0 0;
			    text-transform: uppercase;
			    width: 135px;
			}
		}
}