@import "_colors.less";
@import "_utils.less";

.search-result{
	color: #FFFFFF;

	.line-result{
		margin-top: 30px;

		.subtitle{
			width: 620px;
			color:#333;
			font-size:22px;
			border-bottom: 1px solid;
			padding-bottom: 3px;
			.light;
			background-position: 0 -27px;

				.count{
					color: @green;
					.semibold;
				}
		}

		.box{
			background: url(http://lasbandas.s3.amazonaws.com/site/bg-result.png) no-repeat scroll 0 0 #f6f6f6;
			.border-radius(10px);
		    height: 112px;
		    width: 209px;
		    float: left;
		    margin-top: 20px;
		    margin-right: 20px;
		    position: relative;

		    	a{
		    		display: table;
		    		padding:8px 5px 5px;
		    		.border-radius(10px);
		    		height: 97px;

		    			&:hover{
		    				background:#b9b9b9;
					    	color: white;
					    	.transition;
		    			}
		    	}

				.thumb{
					width: 90px;
					height: 90px;
					background: url(http://lasbandas.s3.amazonaws.com/site/lb-sprite-media.png) no-repeat scroll 15px -205px #FFFFFF;
					padding: 4px;
					.border-radius(45px);
					position: absolute;

						img{
							width: 90px;
							height:90px;
							.border-radius(45px);
						}
				}

				.description{
					color: #252525;
				    text-align: left;
				    width: 150px;
				    margin-left: 55px;

				    	ul{
				    		list-style: none outside none;
						    margin-left: 15px;
						    margin-top: 5px;

						    	.name{
						    		background: @green;
						    		color: white;
    								padding: 5px 40px;
    								width: 45px;
    								text-transform: inherit;
						    	}

						    	.city{
						    		padding: 5px 0 0 42px;
						    		background: @darkgray;
						    		color: white;
						    		width: 73px;
						    		font-size: 12px;
						    		text-transform: lowercase;
						    		.normal;
						    	}
				    	}
				}
		}
	}

	#filters{
		display: table;
    	margin-bottom: 25px;
    	margin-top: 25px;

		.custom-select{
			float: left;
			margin-right: 55px;
		}

		#filter-musician{
			margin-right: 0;
		}
	}

	.maps{
		width: 629px;
		height: 315px;
		background: @darkgray;
		border: 1px solid #adacac;
	}

	.cep{
		label{
			background: url(http://lasbandas.s3.amazonaws.com/site/sprite-form.png) no-repeat scroll 0 -63px transparent;
		    color: #2c2c2c;
		    display: block;
		    float: left;
		    height: 25px;
		    padding: 8px 0 2px 20px;
		    width: 64px;
		    text-transform: uppercase;
		    .normal;
		}

		input{
			border: 1px solid #CCCCCC;
			.border-radius(0 5px 5px 0);
		    font-size: 18px;
		    height: 30px;
		    padding-left: 60px;
		    width: 143px;
		}
	}

	.cities{
		.subtitle{
			color: @darkgray;
			.light;
			margin-top: 20px;
			border-bottom: 1px solid;
			padding-bottom: 3px;
		}

		.box{
			background:#DEDEDE;
		    .border-radius(5px);
		    height: 184px;
		    margin-top: 15px;
		    padding: 20px;
		}
	}
}