@import "_colors.less";
@import "_utils.less";

.search-result{
	color: #FFFFFF;

	.line-result{
		margin-top: 30px;

		.subtitle{
			width: 620px;
			color:#333;
			font-size:22px;
			border-bottom: 1px solid;
			padding-bottom: 3px;
			.light;
			background-position: 0 -27px;

				.count{
					color: @green;
					.semibold;
				}
		}

		.box{
			background: url(http://lasbandas.s3.amazonaws.com/site/bg-result.png) no-repeat scroll 0 0 #f6f6f6;
		    height: 100px;
		    padding: 8px 5px 5px;
		    width: 209px;

				.thumb{
					width: 90px;
					height: 90px;
					border: 3px solid #FFFFFF;
					background: #333;
				}

				.description{
					color: #252525;
				    text-align: left;
				    width: 110px;

				    	ul{
				    		list-style: none outside none;
						    margin-left: 15px;
						    margin-top: 5px;
				    	}
				}
		}
	}

	#filters{
		margin: 20px 0;

		.custom-select{
			float: left;
			margin-right: 50px;
		}

		#filter-musician{
			margin-right: 0;
		}
	}

	.maps{
		width: 629px;
		height: 315px;
		background: @darkgray;
		border: 1px solid #adacac;
	}

	.cep{
		label{
			background: url(http://lasbandas.s3.amazonaws.com/site/sprite-form.png) no-repeat scroll 0 -63px transparent;
		    color: #2c2c2c;
		    display: block;
		    float: left;
		    height: 25px;
		    padding: 8px 0 2px 20px;
		    width: 64px;
		    text-transform: uppercase;
		    .normal;
		}

		input{
			border: 1px solid #CCCCCC;
			.border-radius(0 5px 5px 0);
		    font-size: 18px;
		    height: 30px;
		    padding-left: 60px;
		    width: 143px;
		}
	}

	.cities{
		.subtitle{
			color: @darkgray;
			.light;
			margin-top: 20px;
			border-bottom: 1px solid;
			padding-bottom: 3px;
		}

		.box{
			background:#DEDEDE;
		    .border-radius(5px);
		    height: 184px;
		    margin-top: 15px;
		    padding: 20px;
		}
	}
}