@import "_colors.less";
@import "_utils.less";

#setlist{
	margin-top: 25px;

		h3{
		    font-size: 18px;
		    .normal;
		    padding-bottom: 10px;
    	}

		.box{
			background: #434343;
		    .border-radius(8px);
		    border-top: 2px solid #E5E5E5;
		    color: #FFFFFF;
		    margin: 25px 0 0 33px;
		    padding: 20px 40px;
		    width: 83%;

		    	input{
				    .border-radius(6px);
				    color: #BDBDBD;
				    font-size: 16px;
				    height: 30px;
				    width: 483px;
		    	}

		    	.btn{
		    		color: white;
				    text-transform: uppercase;
				    width: 160px;
				    height: 39px;
		    	}
		}

		.list-music{
			font-size: 14px;
		    line-height: 22px;
		    list-style:decimal outside none;
		    color: #6c941d;
		    margin: 30px 0 50px 60px;

		    	.item-list{
    				margin:0 70px 5px 0;

    				.remove{
    					background: #333333;
    					.border-radius(5px);
    					color: #fff;
    					padding: 0 15px;
    					font-size: 13px;
    					.light;

    					&:hover{color:@green;}
    				}

    				span{
						color: #2E2E2E;
    				}
		    	}
		}

		.add-list-music{
			margin-left: 35px;

			.all-list{
				height: 400px;
			    overflow-y: scroll;
			    width: 735px;
			}

			.save-list{
				float: right;
			    font-size: 14px;
			    margin: 15px 22px 0 0;
			    text-transform: uppercase;
			    width: 135px;
			}
		}
	.empty{ 
			background: url(http://lasbandas.s3.amazonaws.com/site/sprite-icon-alerts.png) no-repeat scroll 235px 20px #C4C7C6;
		    .border-radius(10px);
		    font-size: 17px;
		    height: 80px;
		    padding: 30px 45px 0 100px;
		    line-height: 55px;
		    text-align: center;
		    width: 636px;
		    .normal;
		}
}